Repository MeechYourGoals/Chravel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --max-warnings=10 --no-warn-ignored", "prettier --write"],
  "*.{json,css,md}": ["prettier --write"]
}

fix: restore chat composer for consumer/pro trips locked by bad migration default
  src/__tests__/eventChatPermissions.test.ts
  src/hooks/useTripChatMode.ts
  src/lib/eventChatPermissions.ts
  supabase/migrations/20260408000001_fix_chat_mode_defaults.sql
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Eliminate merge conflicts on learning/memory files
  .gitattributes
  CLAUDE.md
Due: prettier --write

Apply prettier formatting to useEventLineup and supabase types
  src/hooks/useEventLineup.ts
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: enforce trip-type-specific chat/media defaults at creation time
  supabase/functions/create-trip/index.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: validate push notification URL origin in service worker
  public/sw.js
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

feat: audit and upgrade Twilio integration to production-grade architecture
  src/components/consumer/ConsumerNotificationsSection.tsx
  src/components/enterprise/EnterpriseNotificationsSection.tsx
  src/components/events/EventNotificationsSection.tsx
  supabase/functions/_shared/twilioSms.ts
  supabase/functions/_shared/validateSecrets.ts
  supabase/functions/dispatch-notification-deliveries/index.ts
  supabase/functions/push-notifications/index.ts
  supabase/functions/twilio-status-callback/index.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

feat: enrich client-side SMS error messages with Twilio error diagnostics
  src/services/notificationService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Remove Google Calendar connect bar and Gmail import from calendar section
  src/components/GroupCalendar.tsx
  src/features/calendar/components/CalendarImportModal.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

chore: update package-lock.json from npm install
  package-lock.json
Due: prettier --write

docs: add Supabase upgrade, compliance, and score improvement plan to handoff
  THOUGHTBOT_HANDOFF.md
Due: prettier --write

Fix event chat layout filling screen and standardize input buttons to 40px
  src/components/events/EventDetailContent.tsx
  src/features/chat/components/ChatInput.tsx
  src/features/chat/components/VoiceButton.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(events): restore non-chat event detail height baseline
  src/components/events/EventDetailContent.tsx
  src/components/events/__tests__/eventDetailLayout.test.ts
  src/components/events/eventDetailLayout.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs(progress): record event layout regression forensic fix
  claude-progress.txt
Due: none

docs(lessons): add tab-layout branch isolation regression tip
  LESSONS.md
Due: prettier --write

feat: messaging architecture overhaul — Broadcast fast lane, filtered subscriptions, performance fixes
  src/features/chat/hooks/useTripChat.ts
  src/hooks/useUnreadCounts.ts
  src/integrations/supabase/client.ts
  src/services/chatBroadcastService.ts
  src/services/chatService.ts
  src/services/readReceiptService.ts
  src/services/tripRealtimeMultiplexer.ts
  src/services/unifiedMessagingService.ts
  supabase/migrations/20260321000000_add_trip_id_to_read_receipts.sql
  supabase/migrations/20260321000001_add_trip_id_to_message_reactions.sql
  supabase/migrations/20260321000002_broadcast_trigger_for_chat_messages.sql
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: use private realtime broadcast channels for trip chat fast lane
  src/services/__tests__/chatBroadcastService.test.ts
  src/services/chatBroadcastService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs: capture private broadcast channel alignment lesson
  LESSONS.md
Due: prettier --write

fix: secure broadcast channels, remove client-side broadcast, fix unread count re-render loop
  src/features/chat/hooks/useTripChat.ts
  src/hooks/useUnreadCounts.ts
  src/services/chatBroadcastService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(chat): fix reaction bar hover trigger, message spacing, date separator overlap, and mention styling
  src/features/chat/components/MessageBubble.tsx
  src/features/chat/components/VirtualizedMessageContainer.tsx
  src/features/chat/components/messageMentions.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

chore: include pre-existing RoleManager, Supabase types, and OrganizationDashboard changes
  src/components/pro/admin/RoleManager.tsx
  src/integrations/supabase/types.ts
  src/pages/OrganizationDashboard.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(chat): restore desktop hover reactions in MessageBubble
  src/features/chat/components/MessageBubble.tsx
  src/features/chat/components/__tests__/MessageBubble.hoverReactions.test.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs: record MessageBubble hover regression forensic fix
  claude-progress.txt
Due: none

docs: capture chat hover-trigger regression lesson
  LESSONS.md
Due: prettier --write

fix: tighten broadcast payload validation and update stale comments
  src/services/chatBroadcastService.ts
  supabase/migrations/20260321000002_broadcast_trigger_for_chat_messages.sql
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(voice): fix Gemini Live stuck at "Opening audio channel", reposition End button, add selective SILENT
  src/__tests__/geminiLiveProtocolSafety.test.ts
  src/features/chat/components/VoiceLiveInline.tsx
  src/hooks/useGeminiLive.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(voice): prevent ws-open hang in Gemini Live setup
  src/__tests__/geminiLiveProtocolSafety.test.ts
  src/hooks/useGeminiLive.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs(progress): record Gemini Live ws-open timeout fix
  claude-progress.txt
Due: none

Fix live mode layout: empty state gate, end button alignment, waveform centering
  src/components/AIConciergeChat.tsx
  src/features/chat/components/VoiceLiveInline.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: add pagination limits to 40+ unbounded Supabase queries, env validation, and image CDN
  src/main.tsx
  src/services/broadcastService.ts
  src/services/calendarService.ts
  src/services/channelService.ts
  src/services/enhancedTripContextService.ts
  src/services/paymentService.ts
  src/services/tripContextAggregator.ts
  src/services/tripExportDataService.ts
  src/services/tripService.ts
  src/utils/imageOptimization.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: raise query limits to address cursor[bot] review concerns
  src/services/channelService.ts
  src/services/tripService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write
