Repository MeechYourGoals/Chravel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --max-warnings=10 --no-warn-ignored", "prettier --write"],
  "*.{json,css,md}": ["prettier --write"]
}

fix: verify RevenueCat entitlements server-side
  supabase/functions/sync-revenuecat-entitlement/__tests__/revenuecatSync.test.ts
  supabase/functions/sync-revenuecat-entitlement/index.ts
  supabase/functions/sync-revenuecat-entitlement/revenuecat.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs: record trusted billing payload anti-pattern
  DEBUG_PATTERNS.md
Due: prettier --write

fix: enforce active trip membership before trusting trip reads
  src/services/__tests__/tripService.getTripById.test.ts
  src/services/tripService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs: record trip access regression pattern and lesson
  DEBUG_PATTERNS.md
  LESSONS.md
  claude-progress.txt
Due: prettier --write

Deduplicate agent memory entries
  agent_memory.jsonl
Due: none

fix trip detail access check before chat send
  src/services/__tests__/tripService.getTripById.test.ts
  src/services/tripService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs: record trip membership/chat send regression pattern
  DEBUG_PATTERNS.md
  claude-progress.txt
Due: prettier --write

fix(infra): guard CLAUDE_PROJECT_DIR expansion under set -u
  .claude/hooks/session-start.sh
Due: none

fix(voice): Gemini Live setup handshake — omit sessionResumption when empty, fix proxy keepalive
  docs/GEMINI_LIVE_FORENSIC_AUDIT_2026.md
  supabase/functions/gemini-voice-proxy/index.ts
  supabase/functions/gemini-voice-session/index.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(voice): normalize Gemini resumption token handling
  LESSONS.md
  supabase/functions/_shared/__tests__/voiceSessionResumption.test.ts
  supabase/functions/_shared/voiceSessionResumption.ts
  supabase/functions/gemini-voice-proxy/index.ts
  supabase/functions/gemini-voice-session/index.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs: add Gemini Live SILENT scheduling debug pattern
  DEBUG_PATTERNS.md
Due: prettier --write

docs: add Gemini Live API reference architecture (March 2026)
  docs/gemini-live-api-reference-architecture.md
Due: prettier --write

fix(voice): remove scheduling: SILENT from Live API tool responses
  src/hooks/useGeminiLive.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(gemini-live): remove SILENT scheduling from tool responses, fix sessionResumption and location context
  src/hooks/useGeminiLive.ts
  supabase/functions/execute-concierge-tool/index.ts
  supabase/functions/gemini-voice-proxy/index.ts
  supabase/functions/gemini-voice-session/index.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(voice): harden Gemini Live session contracts
  .claude/skills/chravel-gemini-live-debug/SKILL.md
  DEBUG_PATTERNS.md
  LESSONS.md
  TEST_GAPS.md
  src/components/AIConciergeChat.tsx
  src/hooks/__tests__/useVoiceToolHandler.test.ts
  src/hooks/useGeminiLive.ts
  src/hooks/useVoiceToolHandler.ts
  supabase/config.toml
  supabase/functions/execute-concierge-tool/index.ts
  supabase/functions/gemini-voice-proxy/index.ts
  supabase/functions/gemini-voice-session/index.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Fix Gemini Live tool loop parity and session setup payloads
  src/hooks/__tests__/useVoiceToolHandler.test.ts
  src/hooks/useGeminiLive.ts
  src/hooks/useVoiceToolHandler.ts
  supabase/functions/_shared/voiceToolDeclarations.ts
  supabase/functions/gemini-voice-proxy/index.ts
  supabase/functions/gemini-voice-session/index.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Update voice tool handler tests for idempotency normalization
  src/hooks/__tests__/useVoiceToolHandler.test.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Document Gemini Live reliability patterns and test gaps
  DEBUG_PATTERNS.md
  LESSONS.md
  TEST_GAPS.md
Due: prettier --write

fix(voice): harden Gemini Live session/tool protocol invariants
  LESSONS.md
  claude-progress.txt
  src/__tests__/geminiLiveProtocolSafety.test.ts
  src/hooks/useGeminiLive.ts
  supabase/functions/gemini-voice-session/index.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: unify chat composer button sizes, improve broadcast menu hover, and brighten inactive nav tabs
  src/features/chat/components/ChatInput.tsx
  src/features/chat/components/MessageTypeBar.tsx
  src/features/chat/components/VoiceButton.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(chat): add optimistic UI so sender sees own message instantly
  src/features/chat/hooks/useTripChat.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(chat): make mention styling bubble-context aware
  LESSONS.md
  claude-progress.txt
  src/features/chat/components/MessageBubble.tsx
  src/features/chat/components/__tests__/MessageBubble.mentions.test.ts
  src/features/chat/components/messageMentions.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Fix web chat send path and wire non-blocking link preview rendering
  LESSONS.md
  claude-progress.txt
  src/features/chat/components/ChatInput.tsx
  src/features/chat/components/TripChat.tsx
  src/features/chat/components/__tests__/ChatInput.test.tsx
  src/features/chat/hooks/useTripChat.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Preserve edge-function invite error details for organization invites
  LESSONS.md
  TEST_GAPS.md
  claude-progress.txt
  docs/ops/SUPPORT_INCIDENT_CONSTITUTION.md
  src/App.tsx
  src/components/InternalAdminRoute.tsx
  src/components/__tests__/InternalAdminRoute.test.tsx
  src/hooks/useOrganization.ts
  src/lib/__tests__/edgeFunctionError.test.ts
  src/lib/edgeFunctionError.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(events): unify attendee/admin tab gating and disabled-tab surfaces
  LESSONS.md
  claude-progress.txt
  src/components/events/EventDetailContent.tsx
  src/components/mobile/MobileTripTabs.tsx
  src/lib/__tests__/eventTabs.test.ts
  src/lib/eventTabs.ts
  src/pages/EventDetail.tsx
  src/pages/MobileEventDetail.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(ai-concierge): remove dictation gold rotating ring effect
  LESSONS.md
  claude-progress.txt
  src/features/chat/components/AiChatInput.tsx
  src/index.css
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(event-chat): enforce <=50 open chat limit across UI and runtime
  LESSONS.md
  claude-progress.txt
  src/__tests__/eventChatPermissions.test.ts
  src/components/events/EventAdminTab.tsx
  src/features/chat/components/TripChat.tsx
  src/hooks/useEventAdmin.ts
  src/hooks/useTripChatMode.ts
  src/lib/eventChatPermissions.ts
  supabase/migrations/20260317000001_enforce_event_chat_size_limit.sql
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(calendar): unify import modal controls and harden URL gating
  LESSONS.md
  claude-progress.txt
  src/features/calendar/components/CalendarImportModal.tsx
  src/features/calendar/utils/__tests__/importUrlValidation.test.ts
  src/features/calendar/utils/importUrlValidation.ts
  src/features/smart-import/components/SmartImportGmail.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

chore: drop memory-file edits to avoid merge conflicts
  LESSONS.md
  claude-progress.txt
Due: prettier --write

fix(demo): restore trip card cover images with local fallback
  LESSONS.md
  claude-progress.txt
  src/components/OptimizedImage.tsx
  src/components/TripCard.tsx
  src/data/__tests__/demoTripCoverFallbacks.test.ts
  src/data/demoTripCoverFallbacks.ts
  src/features/calendar/components/CalendarImportModal.tsx
  src/features/calendar/utils/__tests__/importUrlValidation.test.ts
  src/features/calendar/utils/importUrlValidation.ts
  src/features/smart-import/components/SmartImportGmail.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(demo): apply cover fallbacks across pro and event cards
  LESSONS.md
  claude-progress.txt
  src/components/EventCard.tsx
  src/components/MobileEventCard.tsx
  src/components/OptimizedImage.tsx
  src/components/ProTripCard.tsx
  src/components/TripCard.tsx
  src/data/__tests__/demoTripCoverFallbacks.test.ts
  src/data/demoTripCoverFallbacks.ts
  src/features/calendar/components/CalendarImportModal.tsx
  src/features/calendar/utils/__tests__/importUrlValidation.test.ts
  src/features/calendar/utils/importUrlValidation.ts
  src/features/smart-import/components/SmartImportGmail.tsx
  src/utils/__tests__/coverImageStyle.test.ts
  src/utils/coverImageStyle.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Add forensic AI Concierge architecture & prompt audit
  AUDIT_CONCIERGE_ARCHITECTURE_2026_03_18.md
  AUDIT_INDEX.md
  agent_memory.jsonl
Due: prettier --write

chore: auto-format supabase generated types
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs: update LESSONS, TEST_GAPS, and DEBUG_PATTERNS from concierge audit
  DEBUG_PATTERNS.md
  LESSONS.md
  TEST_GAPS.md
Due: prettier --write

chore: normalize Supabase types formatting (semicolons + quotes)
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(chat): preserve open-chat behavior for null chat mode
  src/__tests__/eventChatPermissions.test.ts
  src/lib/eventChatPermissions.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: enforce active membership before trusting trip reads
  src/services/__tests__/tripService.getTripById.test.ts
  src/services/tripService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs: capture trip membership access regression learnings
  DEBUG_PATTERNS.md
  LESSONS.md
  claude-progress.txt
Due: prettier --write

Add platform constitution audit
  LESSONS.md
  TEST_GAPS.md
  claude-progress.txt
  docs/audits/platform-constitution-2026-03-18.md
Due: prettier --write

perf: tighten trip and concierge responsiveness
  src/App.tsx
  src/components/AIConciergeChat.tsx
  src/features/chat/components/PendingActionCard.test.tsx
  src/hooks/usePrefetchTrip.test.tsx
  src/hooks/usePrefetchTrip.ts
  src/services/googlePlacesNew.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write
