Repository MeechYourGoals/Chravel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: wrap TripChat send-error console.error in DEV guard
  src/features/chat/components/TripChat.tsx
  src/features/share-extension/hooks/useShareExtensionIngestion.ts
  src/hooks/useTripTasks.ts
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Add data evolution constitution audit and hardening plan
  LESSONS.md
  TEST_GAPS.md
  claude-progress.txt
  docs/audits/data-evolution-constitution-2026-03-15.md
Due: prettier --write

Add integrations/import-export sync constitution audit
  TEST_GAPS.md
  agent_memory.jsonl
  docs/audits/integrations-import-export-sync-constitution-2026-03.md
Due: prettier --write

Security hardening: 11 pre-deploy fixes (Stage A)
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/services/errorTracking.ts
  supabase/functions/_shared/promptBuilder.ts
  supabase/functions/_shared/security.ts
  supabase/functions/accept-organization-invite/index.ts
  supabase/functions/broadcasts-create/index.ts
  supabase/functions/execute-concierge-tool/index.ts
  supabase/functions/gemini-chat/index.ts
  supabase/functions/lovable-concierge/index.ts
  supabase/migrations/20260320000000_security_hardening.sql
  vercel.json
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

chore: apply prettier formatting and update Supabase generated types
  src/features/share-extension/hooks/useShareExtensionIngestion.ts
  src/hooks/useTripTasks.ts
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: resolve 3 remaining Cursor bot review issues for PR #958
  src/hooks/useSaveToTripPlaces.ts
  src/hooks/useTripBasecamp.ts
  src/hooks/useTripPolls.ts
  src/hooks/useTripTasks.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: resolve telemetry PR review issues — OAuth mode, reset guard, offline tracking, PII redaction
  src/components/AuthModal.tsx
  src/components/ErrorBoundary.tsx
  src/components/FeatureErrorBoundary.tsx
  src/features/chat/hooks/useTripChat.ts
  src/hooks/useAuth.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Add frontend runtime performance constitution audit
  LESSONS.md
  TEST_GAPS.md
  claude-progress.txt
  docs/ACTIVE/FRONTEND_RUNTIME_PERFORMANCE_CONSTITUTION_2026-03.md
Due: prettier --write

Add AI Ingestion Summary to top of CLAUDE.md
  CLAUDE.md
Due: prettier --write

Harden live reconnect state and add voice regression tests
  LESSONS.md
  src/features/chat/components/VoiceLiveInline.tsx
  src/hooks/__tests__/useVoiceToolHandler.test.ts
  src/hooks/useGeminiLive.ts
  src/voice/__tests__/audioContract.test.ts
  src/voice/__tests__/circuitBreaker.test.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Apply Prettier formatting to TripChat and Supabase types
  src/features/chat/components/TripChat.tsx
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

PWA/mobile lifecycle hardening — Stage A (6 fixes)
  public/firebase-messaging-sw.js
  src/App.tsx
  src/hooks/useAuth.tsx
  src/hooks/useOfflineStatus.ts
  src/hooks/useSwUpdate.ts
  src/lib/queryClient.ts
  src/utils/serviceWorkerRegistration.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

chore: apply Prettier formatting to pre-existing files
  src/features/chat/components/TripChat.tsx
  src/features/share-extension/hooks/useShareExtensionIngestion.ts
  src/hooks/useTripTasks.ts
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Add reliability resilience constitution audit and memory updates
  LESSONS.md
  TEST_GAPS.md
  claude-progress.txt
  docs/audits/reliability-resilience-constitution-2026-03-16.md
Due: prettier --write

fix: wire edge function metadata pass-through and make captureMessage functional
  src/utils/errorTracking.ts
  supabase/functions/_shared/telemetry.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

chore: apply prettier formatting to TripChat.tsx
  src/features/chat/components/TripChat.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: audit cleanup — stale comments, orphan comments, silent error swallow
  src/hooks/useTripPolls.ts
  src/hooks/useTripTasks.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Add QA governance guardrails for tier-0 coverage and CI
  .github/pull_request_template.md
  .github/workflows/ci.yml
  LESSONS.md
  TEST_GAPS.md
  docs/ACTIVE/TESTING.md
  e2e/README.md
  package.json
  qa/journeys/skip-allowlist.json
  qa/journeys/tier0.json
  scripts/qa/check-e2e-doc-drift.cjs
  scripts/qa/check-skipped-tests.cjs
  scripts/qa/validate-tier0-gate.cjs
Due: prettier --write

Harden internal admin access and secure org invite path
  LESSONS.md
  TEST_GAPS.md
  docs/ops/SUPPORT_INCIDENT_CONSTITUTION.md
  src/App.tsx
  src/components/InternalAdminRoute.tsx
  src/components/__tests__/InternalAdminRoute.test.tsx
  src/hooks/useOrganization.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

security(stage-b): harden CVEs, admin audit, SSRF DNS, webhook replay, and abuse prevention
  .github/dependabot.yml
  package-lock.json
  package.json
  src/components/events/EventAdminTab.tsx
  src/hooks/useProTripAdmin.ts
  src/utils/agendaImportParsers.ts
  src/utils/calendarImportParsers.ts
  src/utils/lineupImportParsers.ts
  supabase/functions/_shared/validation.ts
  supabase/functions/document-processor/index.ts
  supabase/functions/fetch-og-metadata/index.ts
  supabase/functions/join-trip/index.ts
  supabase/functions/process-receipt-ocr/index.ts
  supabase/functions/scrape-lineup/index.ts
  supabase/functions/stripe-webhook/index.ts
  supabase/migrations/20260321000000_wire_admin_audit_logs.sql
  supabase/migrations/20260321000001_get_trip_admin_permissions_rpc.sql
  supabase/migrations/20260321000002_revoke_anon_invite_probe.sql
  supabase/migrations/20260321000003_join_request_cooldown.sql
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Release engineering Stage B: push secrets, migration, incident scores to 90+
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/deploy-functions.yml
  .github/workflows/deploy-notify.yml
  .github/workflows/deploy-safety.yml
  CLAUDE.md
  docs/ACTIVE/INCIDENT_RESPONSE.md
  docs/ACTIVE/RELEASE_ENGINEERING_CONSTITUTION.md
  docs/ACTIVE/SECRET_ROTATION.md
  scripts/check-env-coverage.ts
  scripts/deploy-db.sh
  scripts/health-gate.ts
  scripts/lint-migrations.ts
  scripts/smoke-test.ts
  scripts/validate-env.ts
  src/integrations/supabase/types.ts
  src/lib/featureFlags.ts
  src/telemetry/providers/posthog.ts
  src/telemetry/service.ts
  supabase/functions/_shared/featureFlags.ts
  supabase/functions/_shared/validateSecrets.ts
  supabase/functions/health/index.ts
  supabase/migrations/20260316000000_create_feature_flags.sql
  vite.config.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: harden task RPC auth, add basecamp clear permission guard, document idempotency safety
  src/hooks/useTripBasecamp.ts
  src/hooks/useTripPolls.ts
  src/hooks/useTripTasks.ts
  supabase/migrations/20260316100000_fix_task_rpc_auth.sql
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

chore: prettier format check-skipped-tests.cjs
  scripts/qa/check-skipped-tests.cjs
Due: none

fix: address all PR #979 reviewer findings before merge
  src/config/revenuecat.ts
  supabase/functions/_shared/validation.ts
  supabase/functions/accept-organization-invite/index.ts
  supabase/functions/document-processor/index.ts
  supabase/migrations/20260320000000_security_hardening.sql
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Fix deploy safety audit findings: migrations, edge functions, CI hygiene
  .env.example
  .github/workflows/deploy-functions.yml
  supabase/functions/health/index.ts
  supabase/functions/sync-revenuecat-entitlement/index.ts
  supabase/migrations/20260316000001_create_feature_flags.sql
  supabase/migrations/20260407000000_fix_push_notification_rls.sql
  supabase/migrations/20260407000001_add_trip_collaboration_features.sql
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: address 5 new Cursor bot review findings on PR #979
  src/config/revenuecat.ts
  supabase/functions/_shared/validation.ts
  supabase/functions/document-processor/index.ts
  supabase/functions/lovable-concierge/index.ts
  supabase/functions/stripe-webhook/index.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: remove broken Stripe webhook age check and dead rate limit code
  supabase/functions/lovable-concierge/index.ts
  supabase/functions/stripe-webhook/index.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Fix smoke test deriving garbage URL from Supabase URL
  scripts/smoke-test.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Expand agent memory system: 14 entries, audit index, and session primer
  .claude/hooks/memory-primer.sh
  .claude/settings.json
  AUDIT_INDEX.md
  agent_memory.jsonl
Due: prettier --write

Auto-format supabase types.ts via prettier
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Fix unprotected grep pipelines in memory-primer.sh
  .claude/hooks/memory-primer.sh
Due: none

Add subtle animated gold dictation ring on AI Concierge input border
  src/features/chat/components/AiChatInput.tsx
  src/index.css
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Update auto-generated Supabase types
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Pass project path via env var instead of interpolating into Python source
  .claude/hooks/memory-primer.sh
Due: none

fix: gate demo-mode clearing on auth hydration and safe-guard localStorage access
  src/App.tsx
  src/components/LazyRoute.tsx
  src/pages/Index.tsx
  src/utils/serviceWorkerRegistration.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

style: auto-format supabase types
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

feat: reorder chat composer layout and add dictation button
  src/features/chat/components/ChatInput.tsx
  src/features/chat/components/VoiceButton.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

chore: update auto-generated Supabase types
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Repo hardening: docs, memory, indexing, and session primer for Thoughtbot handoff
  .claude/hooks/session-start.sh
  SYSTEM_MAP.md
  agent_memory.jsonl
  docs/ACTIVE/TAXONOMY.md
  docs/AUDIT_INDEX.md
  docs/DOCUMENTATION_INDEX.md
  docs/THOUGHTBOT_HANDOFF.md
Due: prettier --write

Update generated Supabase types
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --max-warnings=10 --no-warn-ignored: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
