Repository MeechYourGoals/Chravel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=10, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=10",
    "prettier --write"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ]
}

Update package-lock.json after dependency verification
  package-lock.json
Due: prettier --write

fix: add GitHub Actions CI workflow with Node.js 20
  .github/workflows/ci.yml
Due: none

feat: add typecheck script for CI workflow
  package.json
Due: prettier --write

docs: add comprehensive CI/CD setup guide
  docs/CI_CD_SETUP.md
Due: prettier --write

fix: Improve Supabase env var error messaging for debugging
  src/integrations/supabase/client.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix: Remove frame-ancestors from CSP meta tag (ignored by browsers)
  index.html
Due: none

docs: Add comprehensive code audit report and codebase map
  CODEBASE_MAP.md
  CODE_AUDIT_REPORT.md
Due: prettier --write

refactor: Clean up codebase - critical and high priority fixes
  package-lock.json
  package.json
  src/services/pollStorageService(1).ts
  src/utils/performanceMonitor.ts
  src/utils/performanceMonitoring.ts
  vite.config.ts
Due: eslint --fix --max-warnings=10, prettier --write

docs: Add comprehensive post-cleanup audit report
  POST_CLEANUP_AUDIT_REPORT.md
Due: prettier --write

Fix: Resolve Places search and route visualization issues
  src/components/places/MapCanvas.tsx
  src/services/googlePlaces.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add iOS Capacitor readiness assessment document
  CAPACITOR_IOS_READINESS_ASSESSMENT.md
Due: prettier --write

feat: Implement comprehensive notification system
  ANSWERS_TO_YOUR_QUESTIONS.md
  FEATURE_IMPROVEMENT_ROADMAP.md
  IMPLEMENTATION_COMPLETE.md
  IOS_TESTING_CHECKLIST.md
  src/components/notifications/NotificationPreferences.tsx
  supabase/functions/send-push-notification/index.ts
  supabase/migrations/20251105000000_notifications_system.sql
Due: eslint --fix --max-warnings=10, prettier --write

feat: Implement offline support, error handling, and pagination for tasks
  TASKS_FEATURE_ENHANCEMENTS.md
  src/components/todo/TaskCreateModal.tsx
  src/hooks/__tests__/useTripTasks.test.ts
  src/hooks/useTripTasks.ts
  src/services/taskOfflineQueue.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Enhance payments with auto-detection and multi-currency
  PAYMENTS_ENHANCEMENT_SUMMARY.md
  src/components/payments/BalanceSummary.tsx
  src/components/payments/PaymentInput.tsx
  src/components/payments/PaymentsTab.tsx
  src/hooks/usePaymentSplits.ts
  src/services/__tests__/paymentBalanceService.test.ts
  src/services/chatAnalysisService.ts
  src/services/currencyService.ts
  src/services/paymentBalanceService.ts
  src/services/paymentErrors.ts
  src/services/paymentProcessors/index.ts
  src/services/paymentProcessors/paymentProcessorFactory.ts
  src/services/paymentProcessors/retryQueue.ts
  src/services/paymentProcessors/stripeProcessor.ts
  src/services/paymentProcessors/types.ts
  src/services/paymentProcessors/venmoProcessor.ts
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Improve places API with debounce, caching, and retries
  PLACES_IMPROVEMENTS_SUMMARY.md
  src/components/places/MapCanvas.tsx
  src/hooks/useDebounce.ts
  src/services/__tests__/googlePlacesNew.test.ts
  src/services/googlePlacesNew.ts
  src/utils/__tests__/distanceCalculator.test.ts
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Improve basecamp feature for production readiness
  BASECAMP_MVP_IMPROVEMENTS.md
  ios/App/App/BasecampCache.swift
  ios/App/App/BasecampGeocodingService.swift
  ios/App/App/BasecampGeocodingServiceTests.swift
  ios/App/App/BasecampLocationManager.swift
  ios/App/App/BasecampSelectionView.swift
  src/components/PlacesSection.tsx
  src/components/places/TripBaseCampCard.tsx
  src/services/basecampService.ts
  supabase/migrations/20250102000000_add_basecamp_history.sql
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add calendar export and recurring event support
  CALENDAR_EVENTS_IMPROVEMENTS_SUMMARY.md
  CALENDAR_READINESS_CHECKLIST.md
  ios/App/App/CalendarSyncManager.swift
  ios/App/App/CalendarView.swift
  ios/App/App/EventEditorView.swift
  ios/App/App/EventListView.swift
  src/components/GroupCalendar.tsx
  src/components/calendar/CalendarHeader.tsx
  src/services/__tests__/calendarService.test.ts
  src/services/calendarService.ts
  src/services/calendarSync.ts
  src/types/calendar.ts
  supabase/migrations/20250131000000_add_recurring_events_and_busy_free.sql
Due: eslint --fix --max-warnings=10, prettier --write

feat: Implement chat features and iOS foundation
  CHAT_FEATURES_PRODUCTION_READINESS.md
  ios/App/App/AppDelegate.swift
  ios/App/App/BackgroundFetchService.swift
  ios/App/App/ChatMessageService.swift
  ios/App/App/ChatViewController.swift
  ios/App/App/PushNotificationService.swift
  ios/App/App/VoiceMessageRecorder.swift
  src/components/TripChat.tsx
  src/components/chat/ChatInput.tsx
  src/components/chat/MessageSearch.tsx
  src/components/chat/ReadReceipts.tsx
  src/components/chat/TypingIndicator.tsx
  src/hooks/useShareAsset.ts
  src/hooks/useTripChat.ts
  src/services/messageSearchService.ts
  src/services/offlineMessageQueue.ts
  src/services/readReceiptService.ts
  src/services/typingIndicatorService.ts
  supabase/migrations/20250120000002_add_read_receipts.sql
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add PDF export pagination, customization, and progress
  PDF_EXPORT_ENHANCEMENTS_SUMMARY.md
  src/pages/TripDetail.tsx
  src/types/tripExport.ts
  src/utils/__tests__/exportPdfClient.test.ts
  src/utils/exportPdfClient.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add event RSVP and check-in functionality
  EVENTS_ENHANCEMENT_SUMMARY.md
  EVENTS_IMPLEMENTATION_REPORT.md
  EVENTS_MVP_ENHANCEMENT_DOCUMENTATION.md
  src/components/events/EventCheckIn.tsx
  src/components/events/EventDetailContent.tsx
  src/components/events/EventRSVPManager.tsx
  src/hooks/useEventPermissions.ts
  src/hooks/useEventRSVP.ts
  supabase/migrations/20250131000001_event_rsvp_system.sql
Due: eslint --fix --max-warnings=10, prettier --write

feat: Implement avatar upload with cropping and compression
  AVATAR_ENHANCEMENT_SUMMARY.md
  AVATAR_UPLOAD_IMPLEMENTATION.md
  DEVELOPER_HANDOFF_AVATAR.md
  package-lock.json
  package.json
  src/components/settings/AvatarUpload.tsx
  src/components/settings/ProfileSection.tsx
  src/hooks/useInviteLink.ts
  src/hooks/useTripTasks.ts
  src/services/advertiserService.ts
  src/services/mobileOptimizationService.ts
  src/services/nativeMobileService.ts
  src/utils/avatarUtils.ts
  supabase/migrations/20250131000002_create_avatars_storage_bucket.sql
Due: eslint --fix --max-warnings=10, prettier --write

feat: Implement media search and AI tagging
  MEDIA_TAB_DEVELOPER_HANDOFF.md
  MEDIA_TAB_ENHANCEMENTS_REPORT.md
  MEDIA_TAB_SUMMARY.md
  ios/App/App/MediaGridView.swift
  ios/App/App/MediaPickerView.swift
  ios/App/App/MediaPlayerView.swift
  ios/App/App/MediaPreviewView.swift
  ios/App/App/MediaVisionAnalyzer.swift
  src/components/UnifiedMediaHub.tsx
  src/components/media/MediaSearchBar.tsx
  src/services/__tests__/chatUrlExtractor.test.ts
  src/services/__tests__/mediaSearchService.test.ts
  src/services/chatUrlExtractor.ts
  src/services/mediaAITagging.ts
  src/services/mediaDuplicateDetection.ts
  src/services/mediaSearchService.ts
  src/services/ogMetadataService.ts
  supabase/functions/fetch-og-metadata/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Adjust avatar upload path to match storage policies
  AVATAR_UPLOAD_IMPLEMENTATION.md
  DEVELOPER_HANDOFF_AVATAR.md
  src/components/settings/AvatarUpload.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Fix: Clamp maxItemsPerSection to prevent infinite loops
  src/utils/exportPdfClient.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add search functionality to media hub and subtabs
  src/components/MediaSubTabs.tsx
  src/components/UnifiedMediaHub.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Group by filename similarity independently
  src/services/mediaDuplicateDetection.ts
Due: eslint --fix --max-warnings=10, prettier --write

Add Photos import to MediaPickerView and MediaPlayerView
  ios/App/App/MediaPickerView.swift
  ios/App/App/MediaPlayerView.swift
Due: none

Remove QLPreviewingController conformance from MediaPreviewView
  ios/App/App/MediaPreviewView.swift
Due: none

Refactor: Use urlUtils for normalizeUrl and ogMetadataService for categorizeUrl
  src/services/__tests__/chatUrlExtractor.test.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Implement chat content parsing and suggestions
  CHAT_CONTENT_PARSING_ENHANCEMENT.md
  CHAT_PARSING_IMPLEMENTATION_SUMMARY.md
  CHAT_PARSING_READINESS_REPORT.md
  ios/App/App/ChatContentParser.swift
  src/components/TripChat.tsx
  src/components/chat/ChatInput.tsx
  src/components/chat/ParsedContentSuggestions.tsx
  src/hooks/useShareAsset.ts
  src/services/__tests__/chatContentParser.test.ts
  src/services/chatContentParser.ts
  src/services/linkService.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Implement trip collaboration enhancements
  TRIP_COLLABORATION_ENHANCEMENTS.md
  TRIP_COLLABORATION_READINESS_REPORT.md
  ios/App/App/AppDelegate.swift
  ios/App/App/Info.plist
  ios/App/App/InviteContactsService.swift
  ios/App/App/InviteShareService.swift
  public/.well-known/apple-app-site-association
  src/components/invite/BulkInviteUpload.tsx
  src/components/invite/MemberSearchAutocomplete.tsx
  src/components/invite/PresenceIndicator.tsx
  src/hooks/useInviteLink.ts
  src/hooks/useTripPermissions.ts
  src/hooks/useTripPresence.ts
  supabase/migrations/add_trip_collaboration_features.sql
Due: eslint --fix --max-warnings=10, prettier --write

feat: Enhance chat analysis with AI and ML patterns
  PAYMENT_PARTICIPANT_DETECTION_ENHANCEMENT.md
  PAYMENT_PARTICIPANT_DETECTION_READINESS_REPORT.md
  src/services/__tests__/chatAnalysisService.test.ts
  src/services/chatAnalysisService.ts
  src/services/paymentService.ts
  supabase/migrations/20250131000003_payment_split_patterns.sql
Due: eslint --fix --max-warnings=10, prettier --write

feat: Implement scheduled broadcasts, attachments, and read receipts
  BROADCAST_ENHANCEMENTS_HANDOFF.md
  BROADCAST_ENHANCEMENTS_SUMMARY.md
  src/components/BroadcastComposer.tsx
  src/components/broadcast/BroadcastItem.tsx
  src/components/broadcast/BroadcastScheduler.tsx
  src/services/broadcastService.ts
  supabase/functions/send-scheduled-broadcasts/index.ts
  supabase/migrations/20250115000000_broadcast_enhancements.sql
Due: eslint --fix --max-warnings=10, prettier --write

feat: Enhance AI Concierge with offline, degraded, and rate limiting
  AI_CONCIERGE_ENHANCEMENT_SUMMARY.md
  AI_CONCIERGE_MVP_ENHANCEMENTS.md
  src/components/AIConciergeChat.tsx
  src/components/__tests__/AIConciergeChat.test.tsx
  src/services/__tests__/conciergeCacheService.test.ts
  src/services/conciergeCacheService.ts
  supabase/functions/lovable-concierge/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Move universal links to entitlements file
  TRIP_COLLABORATION_ENHANCEMENTS.md
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/App/App.entitlements
  ios/App/App/Info.plist
Due: prettier --write

feat: Enhance Supabase DB security, performance, and docs
  SUPABASE_FIXES_SUMMARY.md
  SUPABASE_MVP_READINESS_REPORT.md
  docs/SUPABASE_BACKUP_STRATEGY.md
  docs/SUPABASE_MIGRATION_GUIDE.md
  docs/SUPABASE_QUICK_REFERENCE.md
  supabase/migrations/20250201000000_fix_rls_policies_and_indexes.sql
  supabase/migrations/20250201000001_document_database_functions.sql
Due: prettier --write

feat: Implement caching and OSM fallback for Google Places API
  GOOGLE_MAPS_API_ENHANCEMENT_REPORT.md
  GOOGLE_MAPS_ENHANCEMENT_HANDOFF.md
  GOOGLE_MAPS_READINESS_SUMMARY.md
  src/components/admin/GoogleMapsUsageDashboard.tsx
  src/services/__tests__/googlePlacesCache.test.ts
  src/services/__tests__/openStreetMapFallback.test.ts
  src/services/googlePlacesCache.ts
  src/services/googlePlacesNew.ts
  src/services/openStreetMapFallback.ts
  supabase/migrations/20250201000000_google_maps_cache_and_quota.sql
Due: eslint --fix --max-warnings=10, prettier --write

Fix: Prevent RLS errors in push notification sending
  PUSH_NOTIFICATION_RLS_FIX.md
  supabase/functions/send-trip-notification/index.ts
  supabase/migrations/fix_push_notification_rls.sql
Due: eslint --fix --max-warnings=10, prettier --write

Fix: Secure broadcast view functions with trip membership validation
  supabase/migrations/20250131000004_secure_broadcast_view_functions.sql
Due: none

feat: Implement AI enhancements for smart routing and safety
  GEMINI_MOBILE_AI_ENHANCEMENTS.md
  supabase/functions/_shared/README_AI_ENHANCEMENTS.md
  supabase/functions/_shared/aiQualityTests.ts
  supabase/functions/_shared/aiUtils.ts
  supabase/functions/lovable-concierge/index.ts
  supabase/migrations/20250131000000_add_ai_enhancement_fields.sql
Due: eslint --fix --max-warnings=10, prettier --write
