Repository MeechYourGoals/Chravel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=10, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=10",
    "prettier --write"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ]
}

Refactor: Improve settings menu and trip action bar UI
  src/components/SettingsMenu.tsx
  src/components/home/TripActionBar.tsx
  src/components/home/TripViewToggle.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Remove 'peer: true' and update UI styles
  package-lock.json
  src/components/home/TripActionBar.tsx
  src/pages/Index.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Remove unnecessary "peer": true from package-lock.json
  package-lock.json
Due: prettier --write

Refactor: Remove peer: true from package-lock.json
  package-lock.json
  src/components/SettingsMenu.tsx
  src/components/home/TripActionBar.tsx
  src/pages/Index.tsx
Due: eslint --fix --max-warnings=10, prettier --write

feat: Implement universal search and notifications UI
  src/components/home/SearchOverlay.tsx
  src/components/home/TripActionBar.tsx
  src/pages/Index.tsx
Due: eslint --fix --max-warnings=10, prettier --write

feat: Implement real-time notifications and UI improvements
  src/components/SettingsMenu.tsx
  src/components/home/TripActionBar.tsx
  src/pages/Index.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Fix: Prevent navigation for notifications without tripId
  src/components/NotificationBell.tsx
  src/components/home/TripActionBar.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Remove redundant basecamp validation and notice component
  src/components/PlacesSection.tsx
  src/components/places/GreenNotice.tsx
  src/services/basecampService.ts
Due: eslint --fix --max-warnings=10, prettier --write

Refactor message sender identification and broadcast handling
  src/components/TripChat.tsx
  src/components/chat/MessageItem.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Improve trip cover photo handling and UI
  src/components/EditTripModal.tsx
  src/components/TripCoverPhotoUpload.tsx
  src/components/TripHeader.tsx
Due: eslint --fix --max-warnings=10, prettier --write

feat: Improve chat functionality and error handling
  src/components/TripChat.tsx
  src/components/chat/MessageItem.tsx
  src/components/chat/VirtualizedMessageContainer.tsx
  src/hooks/useTripChat.ts
  src/services/chatService.ts
  src/services/offlineMessageQueue.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add trip members RLS and sanitize privacy mode
  src/hooks/useUnifiedMessages.ts
  src/services/unifiedMessagingService.ts
  supabase/migrations/20250120000000_add_trip_members_rls_policies.sql
Due: eslint --fix --max-warnings=10, prettier --write

Refactor cover photo upload to handle demo and authenticated modes
  src/components/TripCoverPhotoUpload.tsx
  src/components/TripHeader.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Auto-center map on basecamp updates
  src/components/BasecampSelector.tsx
  src/components/PlacesSection.tsx
  src/components/places/BasecampsPanel.tsx
  src/components/places/MapCanvas.tsx
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add MSPEC and SwiftUI component library
  MSPEC_CHRAVEL_IOS.md
  SWIFT_COMPONENT_LIBRARY.md
  SWIFT_SCREENS/Models_Core.swift
  SWIFT_SCREENS/Navigation_Coordinator.swift
  SWIFT_SCREENS/Screen_AIConciergeView.swift
  SWIFT_SCREENS/Screen_AuthView.swift
  SWIFT_SCREENS/Screen_HomeView.swift
  SWIFT_SCREENS/Screen_MapView.swift
  SWIFT_SCREENS/Screen_PaymentsView.swift
  SWIFT_SCREENS/Screen_ProfileView.swift
  SWIFT_SCREENS/Screen_TripDetailView.swift
  SWIFT_SCREENS/Services_SupabaseClient.swift
  SWIFT_SCREENS/ViewModel_AIConciergeViewModel.swift
  SWIFT_SCREENS/ViewModel_AuthViewModel.swift
  SWIFT_SCREENS/ViewModel_MapViewModel.swift
  SWIFT_SCREENS/ViewModel_PaymentsViewModel.swift
  SWIFT_SCREENS/ViewModel_TripDetailViewModel.swift
  SWIFT_SCREENS/ViewModel_TripsViewModel.swift
  SWIFT_SPEC_CHRAVEL_IOS.md
  XCODE_PROJECT_ASSEMBLY.md
Due: prettier --write

Refactor: Implement actual Supabase SDK and fix data models
  IOS_DEVELOPER_JOB_POSTING.md
  SWIFT_SCREENS_CORRECTED/AuthViewModel.swift
  SWIFT_SCREENS_CORRECTED/ChatViewModel.swift
  SWIFT_SCREENS_CORRECTED/Models.swift
  SWIFT_SCREENS_CORRECTED/README_CORRECTIONS.md
  SWIFT_SCREENS_CORRECTED/SupabaseClient.swift
  SWIFT_SCREENS_CORRECTED/TripsViewModel.swift
Due: prettier --write

fix: Remove banner markers and add missing Observation import
  SWIFT_SCREENS/Models_Core.swift
  SWIFT_SCREENS/Navigation_Coordinator.swift
  SWIFT_SCREENS/Screen_AIConciergeView.swift
  SWIFT_SCREENS/Screen_AuthView.swift
  SWIFT_SCREENS/Screen_HomeView.swift
  SWIFT_SCREENS/Screen_MapView.swift
  SWIFT_SCREENS/Screen_PaymentsView.swift
  SWIFT_SCREENS/Screen_ProfileView.swift
  SWIFT_SCREENS/Screen_TripDetailView.swift
  SWIFT_SCREENS/Services_SupabaseClient.swift
  SWIFT_SCREENS/ViewModel_AIConciergeViewModel.swift
  SWIFT_SCREENS/ViewModel_AuthViewModel.swift
  SWIFT_SCREENS/ViewModel_MapViewModel.swift
  SWIFT_SCREENS/ViewModel_PaymentsViewModel.swift
  SWIFT_SCREENS/ViewModel_TripDetailViewModel.swift
  SWIFT_SCREENS/ViewModel_TripsViewModel.swift
Due: none

fix: Add missing Security import for KeychainHelper
  SWIFT_SCREENS/Services_SupabaseClient.swift
Due: none

Refactor: Adjust layout for mobile and desktop
  src/components/home/TripActionBar.tsx
  src/components/home/TripViewToggle.tsx
  src/pages/Index.tsx
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add production audit documentation
  AUDIT_QUICK_REFERENCE.md
  PRODUCTION_AUDIT_REPORT.md
Due: prettier --write

feat: Add production audit report for Chravel
  PRODUCTION_AUDIT_REPORT.md
Due: prettier --write

Refactor EventDetail to improve demo mode logic and add auto-scroll
  src/pages/EventDetail.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Fix: Apply critical production fixes and improve error handling
  PRODUCTION_FIXES_APPLIED.md
  src/components/TripChat.tsx
  src/hooks/useInviteLink.ts
  src/hooks/useSupabaseSubscription.ts
  src/hooks/useTripChat.ts
  src/hooks/useUnreadCounts.ts
  src/services/channelService.ts
  src/services/mediaService.ts
  src/services/paymentService.ts
  supabase/migrations/20250120000000_fix_foreign_key_cascades.sql
  supabase/migrations/20251119053411_4ace55c3-740e-496e-a16e-1367f1e47f73.sql
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add "Coming Soon" indicators and Travel Wallet backend
  src/components/ConsumerSettings.tsx
  src/components/SettingsMenu.tsx
  src/components/TravelWallet.tsx
  src/components/consumer/ConsumerNotificationsSection.tsx
  src/components/mobile/MobileBottomNav.tsx
  src/components/payments/PaymentMethodsSettings.tsx
  src/hooks/useTripTasks.ts
  src/pages/MobileEventDetail.tsx
  src/pages/MobileProTripDetail.tsx
  src/pages/ProTripDetailDesktop.tsx
  src/services/chatContentParser.ts
  src/services/conflictResolutionService.ts
  src/services/loyaltyProgramService.ts
  supabase/migrations/20251202_add_user_loyalty_programs.sql
Due: eslint --fix --max-warnings=10, prettier --write

Fix: Update vote_on_poll function and hook
  src/hooks/useTripPolls.ts
  supabase/migrations/20250131000000_fix_vote_on_poll_function.sql
Due: eslint --fix --max-warnings=10, prettier --write

feat: Implement test account bypass and free pro trip trial
  src/components/chat/MessageTypeBar.tsx
  src/components/pro/ProFeatureDemo.tsx
  src/components/pro/ProTabContent.tsx
  src/components/pro/ProTabNavigation.tsx
  src/components/pro/ProTabsConfig.tsx
  src/hooks/useConsumerSubscription.tsx
  src/types/consumer.ts
  supabase/functions/check-subscription/index.ts
  supabase/functions/create-trip/index.ts
  supabase/migrations/20251202000000_add_free_pro_trip_trial.sql
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add pitch deck audit document
  PITCH_DECK_AUDIT.md
Due: prettier --write

feat: Add pitch deck slides for Chravel marketing
  PITCH_DECK_SLIDES.md
Due: prettier --write

Add competitive positioning document
  COMPETITIVE_POSITIONING.md
Due: prettier --write

feat: Analyze pitch deck gaps and recommend updates
  PITCH_DECK_GAP_ANALYSIS.md
Due: prettier --write

Add pitch deck structure for Chravel AI
  CHRAVEL_PITCH_DECK_STRUCTURE.md
Due: prettier --write

feat: Add pitch deck vs codebase feature comparison report
  PITCH_DECK_VS_CODEBASE_COMPARISON.md
Due: prettier --write

feat: Grant full permissions in demo mode and simplify calendar logic
  src/components/GroupCalendar.tsx
  src/components/calendar/CalendarHeader.tsx
  src/hooks/useRolePermissions.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add calendar event creation permissions
  src/components/GroupCalendar.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Fix invite link loading bug and implement robust sharing system
  src/pages/Index.tsx
  src/pages/JoinTrip.tsx
  supabase/functions/get-invite-preview/index.ts
  supabase/functions/share-preview/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Improve event data fetching and conversion
  src/pages/MobileEventDetail.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Simplify basecamp to text-only locations
  src/components/BasecampSelector.tsx
  src/components/PlacesSection.tsx
  src/components/places/BasecampsPanel.tsx
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add rich media support to chat and media tabs
  src/components/DemoChat.tsx
  src/components/chat/MessageBubble.tsx
  src/components/chat/MessageItem.tsx
  src/components/media/MediaTabs.tsx
  src/hooks/useChatComposer.ts
  src/services/unifiedMessagingService.ts
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Rename URLs to Links across the application
  src/components/MediaSubTabs.tsx
  src/components/UnifiedMediaHub.tsx
  src/components/media/MediaUrlsPanel.tsx
  src/components/mobile/MobileUnifiedMediaHub.tsx
  src/components/places/TripLinksDisplay.tsx
Due: eslint --fix --max-warnings=10, prettier --write
