Repository MeechYourGoals/Chravel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

chore: fix formatting in test files
  src/components/__tests__/AIConciergeChat.test.tsx
  supabase/functions/_shared/__tests__/functionExecutor.test.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: unify send button styling with persistent gold rim across Concierge and Chat
  src/features/chat/components/AiChatInput.tsx
  src/features/chat/components/ChatInput.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

chore: commit pre-existing Supabase types and edge function changes
  src/integrations/supabase/types.ts
  supabase/functions/_shared/tokenCrypto.ts
  supabase/functions/batch-generate-embeddings/index.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: harden gmail_accounts_safe view against RLS bypass
  supabase/migrations/20260404000000_harden_gmail_accounts_safe_view.sql
Due: none

fix: enforce active membership before trip detail access
  src/services/__tests__/tripService.getTripById.test.ts
  src/services/tripService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

feat(ios): integrate PostHog analytics SDK
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/App/AppDelegate.swift
Due: none

feat: integrate PostHog analytics via telemetry service
  .env.example
  package-lock.json
  package.json
  src/main.tsx
  src/telemetry/providers/posthog.ts
  src/telemetry/service.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

feat: add agent learning loop system with persistent memory files
  AGENTS.md
  CLAUDE.md
  DEBUG_PATTERNS.md
  LESSONS.md
  TEST_GAPS.md
  agent_memory.jsonl
Due: prettier --write

security: comprehensive hardening from defensive audit
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  DEBUG_PATTERNS.md
  src/constants/admins.ts
  src/services/calendarService.ts
  src/services/tripService.ts
  supabase/functions/_shared/cors.ts
  supabase/functions/_shared/gemini.ts
  supabase/functions/_shared/promptBuilder.ts
  supabase/functions/_shared/security/capabilityTokens.ts
  supabase/functions/demo-concierge/index.ts
  supabase/functions/stripe-webhook/index.ts
  vercel.json
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: normalize Base Camp button color and make Explore tab instant
  src/components/PlacesSection.tsx
  src/components/places/BasecampsPanel.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

security: fix gmail-auth wildcard CORS, add SSRF redirect protection, add security tests
  supabase/functions/_shared/__tests__/capabilityTokens.security.test.ts
  supabase/functions/_shared/__tests__/cors.security.test.ts
  supabase/functions/_shared/__tests__/errorSanitization.test.ts
  supabase/functions/_shared/__tests__/promptBuilder.security.test.ts
  supabase/functions/_shared/gemini.ts
  supabase/functions/fetch-og-metadata/index.ts
  supabase/functions/gmail-auth/index.ts
  supabase/functions/image-proxy/index.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

chore: include pre-existing formatting and Supabase types changes
  src/features/chat/components/MessageTypeBar.tsx
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

security: fix cronGuard fail-open when CRON_SECRET is missing
  DEBUG_PATTERNS.md
  supabase/functions/_shared/cronGuard.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Fix live audio indicator: center waveform, widen, replace flat line with SVG
  src/features/chat/components/VoiceLiveInline.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: remove blue-on-blue nested reply styling, use deeper overlay inset
  src/features/chat/components/MessageBubble.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: upgrade messaging system — reactions, channel parity, gold ring buttons
  src/components/pro/channels/ChannelChatView.tsx
  src/features/chat/components/ChatInput.tsx
  src/features/chat/components/MessageBubble.tsx
  src/features/chat/components/MessageReactionBar.tsx
  src/features/chat/hooks/useLinkPreviews.ts
  src/lib/ctaButtonStyles.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs: add debug patterns and lessons from messaging upgrade
  DEBUG_PATTERNS.md
  LESSONS.md
Due: prettier --write

fix: persist accommodation type in Personal Base Camp
  src/components/BasecampSelector.tsx
  src/components/places/BasecampsPanel.tsx
  src/integrations/supabase/types.ts
  src/services/basecampService.ts
  supabase/migrations/20260405000000_add_type_to_personal_basecamps.sql
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: use string UUID for event trip.id on mobile to fix cover photo persistence
  src/pages/MobileEventDetail.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

chore: include regenerated Supabase types
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: persist accommodation type and confirmation number in demo mode
  src/components/places/BasecampsPanel.tsx
  src/services/demoModeService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(security): close invite_links anonymous enumeration and harden profile field visibility
  supabase/migrations/20260315000000_security_audit_remediation.sql
Due: none

chore: update auto-generated Supabase types formatting
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(security): preserve TABLE return types and parameter names in get_visible_profile_fields
  supabase/migrations/20260315000000_security_audit_remediation.sql
Due: none

fix: trip card member count and unread badge category leaking
  src/features/chat/components/TripChat.tsx
  src/hooks/useUnreadCounts.ts
  src/services/tripService.ts
  src/types/events.ts
  src/types/pro.ts
  src/utils/tripConverter.ts
  src/utils/tripStatsUtils.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

chore: format supabase types (pre-existing whitespace change)
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Audit and redesign Team tab: consolidate roles, fix org chart layout, unify design
  src/components/pro/BulkRoleAssignmentModal.tsx
  src/components/pro/OrgChartNode.tsx
  src/components/pro/RoleContactSheet.tsx
  src/components/pro/TeamOrgChart.tsx
  src/components/pro/TeamTab.tsx
  src/components/pro/admin/AssignRoleDialog.tsx
  src/components/pro/admin/JoinRequestsDialog.tsx
  src/components/pro/admin/RoleManager.tsx
  src/components/pro/team/RolesView.tsx
  src/hooks/useJoinRequests.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Update auto-generated Supabase types
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Audit and fix chat segmented controls, broadcast styling, and search performance
  src/components/ai/ConciergeSearchModal.tsx
  src/features/chat/components/ChatInput.tsx
  src/features/chat/components/MessageBubble.tsx
  src/features/chat/components/MessageTypeBar.tsx
  src/hooks/useUniversalSearch.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Remove dead unreadCount state from useUnreadCounts hook
  src/hooks/useUnreadCounts.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Update broadcast search overlay colors from orange to deep crimson
  src/features/chat/components/ChatSearchOverlay.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Fix role creation permission gap and org chart pagination reset
  src/components/pro/TeamOrgChart.tsx
  src/components/pro/admin/RoleManager.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Add deep audit and productionization plan for Recommendations page
  RECOMMENDATIONS_AUDIT.md
Due: prettier --write

perf: add optimistic updates and query invalidation for faster user feedback
  src/components/AIConciergeChat.tsx
  src/hooks/useTripPolls.ts
  src/hooks/useTripTasks.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

chore: update auto-generated Supabase types
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Wire up foundational recommendation infrastructure (pre-launch)
  src/data/recommendations/types.ts
  src/services/recommendationMappers.ts
  src/services/recommendationService.ts
  src/telemetry/events.ts
  src/telemetry/types.ts
  supabase/migrations/20260315_add_recommendation_tables.sql
  supabase/migrations/20260315_seed_recommendation_items.sql
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: use single optimistic ID for task and its task_status reference
  src/hooks/useTripTasks.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Harden chat reliability: reconnect backfill, idempotent sends, fix write storms
  src/features/chat/components/TripChat.tsx
  src/features/chat/hooks/useTripChat.ts
  src/features/chat/hooks/useUnifiedMessages.ts
  src/services/unifiedMessagingService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Update agent memory files with chat reliability audit findings
  DEBUG_PATTERNS.md
  LESSONS.md
  TEST_GAPS.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings=10 --no-warn-ignored: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
