Repository MeechYourGoals/Chravel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=10, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=10",
    "prettier --write"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ]
}

feat: Implement comprehensive testing infrastructure
  .github/workflows/ci.yml
  TESTING.md
  TESTING_INFRASTRUCTURE_SUMMARY.md
  e2e/auth.spec.ts
  e2e/trip-flow.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/__tests__/auth.test.tsx
  src/__tests__/calendar-conflict.test.tsx
  src/__tests__/chat-flow.test.tsx
  src/__tests__/payment-balance.test.tsx
  src/__tests__/trip-creation-flow.test.tsx
  src/__tests__/utils/supabaseMocks.ts
  src/__tests__/utils/testHelpers.tsx
  src/test-setup.ts
  vitest.config.ts
Due: eslint --fix --max-warnings=10, prettier --write

Fix: Make broadcast view functions SECURITY INVOKER
  supabase/migrations/20250201000002_fix_broadcast_view_functions_security.sql
Due: none

feat: Implement comprehensive testing infrastructure
  .github/workflows/ci.yml
  TESTING_INFRASTRUCTURE_SUMMARY.md
  TESTING_SETUP_COMPLETE.md
  e2e/auth.spec.ts
  e2e/chat.spec.ts
  e2e/trip-creation.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/__tests__/utils/supabaseMocks.ts
  src/__tests__/utils/testHelpers.tsx
  src/hooks/__tests__/useAuth.test.tsx
  src/services/__tests__/calendarService.integration.test.ts
  src/services/__tests__/chatService.integration.test.ts
  src/services/__tests__/paymentBalanceService.integration.test.ts
  src/services/__tests__/tripService.integration.test.ts
  src/test-setup.ts
  vitest.config.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add Storybook and documentation infrastructure
  .storybook/main.ts
  .storybook/preview.tsx
  ANDROID_DEPLOY_QUICKSTART.md
  DOCUMENTATION_GAPS_RESOLVED.md
  docs/ADRs/001-capacitor-over-react-native.md
  docs/ADRs/002-supabase-over-firebase.md
  docs/ADRs/003-google-maps-over-mapbox.md
  docs/ADRs/004-tanstack-query-over-redux.md
  docs/API_DOCUMENTATION.md
  docs/API_INTEGRATION_STATUS.md
  docs/DATABASE_SCHEMA.md
  docs/DOCUMENTATION_INDEX.md
  docs/PRODUCTION_DEPLOYMENT_CHECKLIST.md
  docs/STORYBOOK_SETUP.md
  package.json
  typedoc.json
Due: eslint --fix --max-warnings=10, prettier --write

Fix: Add UPDATE policy for broadcast views
  supabase/migrations/20250201000002_fix_broadcast_view_functions_security.sql
Due: none

feat: Add native SDKs and prepare for iOS app store submission
  IOS_HANDOFF_QUICK_REFERENCE.md
  IOS_PLATFORM_MIGRATION_HANDOFF.md
  ios/App/App/Info.plist
  ios/App/App/NativeViewControllers/AuthenticationViewController.swift
  ios/App/App/NativeViewControllers/BiometricAuthService.swift
  ios/App/App/NativeViewControllers/PaymentFlowViewController.swift
  ios/App/App/NativeViewControllers/SupabaseNativeService.swift
  ios/App/Podfile
  ios/scripts/generate-screenshots.sh
Due: prettier --write

Fix: Improve Supabase mock data handling and chaining
  SUPABASE_MOCK_FIXES.md
  package-lock.json
  package.json
  src/__tests__/utils/supabaseMocks.ts
Due: eslint --fix --max-warnings=10, prettier --write

Add Supabase env vars to CI workflows
  .github/workflows/ci.yml
Due: none

feat: Implement offline sync and caching
  OFFLINE_SYNC_IMPLEMENTATION_SUMMARY.md
  docs/IOS_OFFLINE_SYNC_GUIDE.md
  public/sw.js
  src/hooks/useTripChat.ts
  src/services/calendarOfflineQueue.ts
  src/services/calendarService.ts
  src/services/chatStorage.ts
  src/services/offlineSyncService.ts
  src/utils/conflictResolution.ts
  src/utils/serviceWorkerSync.ts
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Implement Supabase mock data storage and query builder
  src/__tests__/utils/supabaseMocks.ts
Due: eslint --fix --max-warnings=10, prettier --write

Fix: Apply critical security fixes and harden RLS policies
  SECURITY_FIXES_APPLIED.md
  supabase/migrations/20251111054523_fix_critical_security_vulnerabilities.sql
Due: prettier --write

Fix: Restrict trip-photos bucket RLS policy
  supabase/migrations/20251111054642_apply_trip_photos_bucket_rls_policy.sql
Due: none

Add Storybook and documentation dependencies
  package.json
Due: prettier --write

Remove unused webView property
  ios/App/App/NativeViewControllers/AuthenticationViewController.swift
Due: none

feat: Setup global offline sync processor
  src/App.tsx
  src/services/globalSyncProcessor.ts
  src/services/offlineSyncService.ts
Due: eslint --fix --max-warnings=10, prettier --write

Fix: Add trip membership checks to SECURITY DEFINER functions
  SECURITY_FIXES_APPLIED.md
  supabase/migrations/20251111054523_fix_critical_security_vulnerabilities.sql
Due: prettier --write

Fix: Ensure mock data filters return empty arrays
  src/__tests__/utils/supabaseMocks.ts
Due: eslint --fix --max-warnings=10, prettier --write

Fix: Secure SECURITY DEFINER functions with SET search_path
  SECURITY_DEFINER_FIXES_SUMMARY.md
  supabase/migrations/20250102000000_fix_security_definer_search_path.sql
Due: prettier --write

feat: Add Supabase native authentication service
  ios/App/App/SupabaseNativeService.swift
Due: none

feat: Add authorization checks to payment balance service
  src/components/payments/PaymentsTab.tsx
  src/services/__tests__/paymentBalanceService.integration.test.ts
  src/services/__tests__/paymentBalanceService.test.ts
  src/services/paymentBalanceService.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add trip creation form validation
  IOS_TRIP_CREATION_IMPLEMENTATION.md
  TRIP_CREATION_VALIDATION_SUMMARY.md
  src/components/CreateTripModal.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Fix: Prevent offline sync data loss and improve concurrency
  docs/OFFLINE_SYNC_DATA_LOSS_FIX.md
  src/hooks/useTripChat.ts
  src/services/offlineSyncService.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add trip creation validation and onboarding
  TRIP_CREATION_IOS_HANDOFF.md
  TRIP_CREATION_WEB_COMPLETE.md
  src/__tests__/CreateTripModal.validation.test.tsx
  src/components/CreateTripModal.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Revert match_kb_chunks to SECURITY INVOKER
  SECURITY_FIXES_APPLIED.md
  supabase/migrations/20251111054523_fix_critical_security_vulnerabilities.sql
Due: prettier --write

feat: Add JWT authentication and security to Supabase functions
  supabase/config.toml
  supabase/functions/document-processor/index.ts
  supabase/functions/enhanced-ai-parser/index.ts
  supabase/functions/google-maps-proxy/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Consolidate and enhance validation logic
  supabase/functions/_shared/validation.ts
  supabase/functions/document-processor/index.ts
  supabase/functions/fetch-og-metadata/index.ts
  supabase/functions/file-upload/index.ts
  supabase/functions/image-upload/index.ts
  supabase/functions/process-receipt-ocr/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

Fix: Handle nil session on Supabase sign-in
  ios/App/App/NativeViewControllers/SupabaseNativeService.swift
Due: none

feat: Add disaster recovery docs and security indexes
  docs/DISASTER_RECOVERY.md
  index.html
  supabase/migrations/20250131000005_add_security_performance_indexes.sql
Due: prettier --write

Refactor: Update security definer migration and timestamp
  SECURITY_DEFINER_FIXES_SUMMARY.md
  supabase/migrations/20251221_fix_security_definer_search_path.sql
Due: prettier --write

Fix: Ensure query builder always returns an array
  src/__tests__/utils/supabaseMocks.ts
Due: eslint --fix --max-warnings=10, prettier --write

Test: Add tests for offline sync queue behavior
  src/services/__tests__/offlineSyncService.test.ts
Due: eslint --fix --max-warnings=10, prettier --write

Fix: Prevent zero-day trips by enforcing end date after start date
  src/components/CreateTripModal.tsx
  src/components/EditTripModal.tsx
  src/hooks/useTripForm.ts
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Use upgradeTransaction in IndexedDB upgrade
  src/services/chatStorage.ts
Due: eslint --fix --max-warnings=10, prettier --write

Fix: Harden original migration security definer functions
  MIGRATION_SECURITY_FIX_APPLIED.md
  SECURITY_DEFINER_FIXES_SUMMARY.md
  supabase/migrations/001_audio_summaries.sql
  supabase/migrations/20250115000002_ai_conversations_table.sql
  supabase/migrations/20250120000002_ai_concierge_usage_tracking.sql
  supabase/migrations/20251026_address_known_issues.sql
  supabase/migrations/20251107001035_5087e291-c88b-4cf7-86f9-6672d86652df.sql
Due: prettier --write

feat: Address Supabase type mismatches and build errors
  BUILD_ERRORS_ROOT_CAUSE_AND_FIX_PLAN.md
  LOVABLE_FIX_PROMPT.md
  LOVABLE_PROMPT.txt
Due: prettier --write

feat: Update Supabase types and CLI version
  src/integrations/supabase/types.ts
  supabase/.temp/cli-latest
Due: eslint --fix --max-warnings=10, prettier --write

Fix Render build failures due to dependency conflicts
  package.json
  render.yaml
Due: prettier --write

Update package-lock.json with typedoc@0.28.0
  package-lock.json
Due: prettier --write

docs: comprehensive codebase audit and action plans
  AUDIT_EXECUTIVE_SUMMARY.txt
  CODEBASE_AUDIT_COMPREHENSIVE.md
  EXECUTIVE_AUDIT_SUMMARY.md
  FEATURE_PRODUCTION_ANALYSIS.md
  MASTER_ACTION_PLAN.md
  QUICK_FIX_GUIDE.md
Due: prettier --write
