Repository MeechYourGoals/Chravel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=10, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=10",
    "prettier --write"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ]
}

Reorder completed stat button for better visual flow
  src/components/home/TripStatsOverview.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Update dev dependencies and remove unnecessary 'dev' flags
  package-lock.json
Due: prettier --write

Optimize Trip Detail performance for faster perceived load time
  src/components/TripHeader.tsx
  src/components/mobile/MobileTripTabs.tsx
  src/pages/MobileTripDetail.tsx
  src/pages/TripDetailDesktop.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Update package-lock.json after npm install
  package-lock.json
Due: prettier --write

Fix notification spacing in TripActionBar dialog
  src/components/home/TripActionBar.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Fix onboarding tour to run only once per user, ever
  src/hooks/useOnboarding.ts
  src/pages/Index.tsx
  src/store/onboardingStore.ts
  src/utils/onboardingUtils.ts
Due: eslint --fix --max-warnings=10, prettier --write

Fix payment display not updating after creation
  src/components/payments/OutstandingPayments.tsx
  src/components/payments/PaymentHistory.tsx
  src/components/payments/PaymentsTab.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Refactor payment system to use single source of truth
  src/components/payments/OutstandingPayments.tsx
  src/components/payments/PaymentHistory.tsx
  src/components/payments/PaymentsTab.tsx
  src/hooks/usePayments.ts
Due: eslint --fix --max-warnings=10, prettier --write

Optimize repo for AI tools to reduce context burn
  .aiignore
  .cursorignore
  docs/ACTIVE/DEVELOPER_HANDBOOK.md
Due: prettier --write

Refactor: Optimize trip data loading and defer non-critical tasks
  src/components/TripChat.tsx
  src/hooks/usePrefetchTrip.ts
  src/hooks/useTripData.ts
  src/pages/MobileTripDetail.tsx
  src/pages/TripDetailDesktop.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Fix trip collaboration invites and add native share functionality
  src/components/InviteModal.tsx
  src/components/invite/InviteLinkSection.tsx
  src/components/share/ShareTripModal.tsx
  supabase/functions/join-trip/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

Simplify and refine code for improved clarity and maintainability
  src/components/invite/InviteLinkSection.tsx
  src/components/payments/OutstandingPayments.tsx
  src/components/share/ShareTripModal.tsx
  src/store/onboardingStore.ts
  supabase/functions/join-trip/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

Fix trip invitation requests not appearing in collaborators section
  src/components/EventCard.tsx
  src/components/InviteModal.tsx
  src/components/MobileEventCard.tsx
  src/components/ProTripCard.tsx
  src/components/TripHeader.tsx
  src/components/invite/InviteSettingsSection.tsx
  src/pages/MobileEventDetail.tsx
  src/pages/MobileProTripDetail.tsx
  supabase/functions/join-trip/index.ts
  supabase/migrations/20260109000000_fix_join_requests_member_access.sql
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add OAuth buttons and divider to AuthModal
  src/components/AuthModal.tsx
  src/components/__tests__/AuthModal.test.tsx
  src/components/auth/AuthDivider.tsx
  src/components/auth/OAuthButtons.tsx
  src/components/auth/__tests__/OAuthButtons.test.tsx
  src/components/auth/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Implement GDPR data export feature
  docs/gdpr-data-export.md
  src/components/consumer/ConsumerPrivacySection.tsx
  src/components/settings/DataExportSection.tsx
  src/hooks/useDataExport.ts
  supabase/functions/export-user-data/index.ts
  supabase/migrations/20260110000000_create_user_data_exports_bucket.sql
Due: eslint --fix --max-warnings=10, prettier --write

feat: Implement account deletion feature
  docs/account-deletion-verification.md
  src/components/__tests__/AccountDeletion.test.tsx
  src/components/consumer/ConsumerGeneralSettings.tsx
  src/integrations/supabase/types.ts
  supabase/config.toml
  supabase/functions/delete-account/index.ts
  supabase/migrations/20260110000000_account_deletion_rpc.sql
Due: eslint --fix --max-warnings=10, prettier --write

feat: Conditionally render OAuth buttons based on env vars
  .env.example
  src/components/AuthModal.tsx
  src/components/__tests__/AuthModal.test.tsx
  src/components/auth/OAuthButtons.tsx
  src/components/auth/__tests__/OAuthButtons.test.tsx
  src/components/auth/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Remove Apple OAuth and simplify Google OAuth
  .env.example
  src/components/auth/OAuthButtons.tsx
  src/components/auth/__tests__/OAuthButtons.test.tsx
  src/components/auth/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add ICS calendar event import functionality
  src/components/GroupCalendar.tsx
  src/components/calendar/CalendarHeader.tsx
  src/components/calendar/ICSImportModal.tsx
  src/components/mobile/MobileGroupCalendar.tsx
  src/hooks/useCalendarManagement.ts
  src/utils/__tests__/calendarImport.test.ts
  src/utils/calendarImport.ts
Due: eslint --fix --max-warnings=10, prettier --write

docs: Add ATT analysis documenting why ATT prompt is not required
  docs/ATT.md
Due: prettier --write

Add comprehensive App Store Launch Readiness Audit
  APP_STORE_READINESS_AUDIT.md
Due: prettier --write

Update App Store Readiness Audit with re-audit findings
  APP_STORE_READINESS_AUDIT.md
Due: prettier --write

Add account deletion RPC and Google OAuth button
  src/components/AuthModal.tsx
  supabase/migrations/20260110000000_account_deletion_rpc.sql
Due: eslint --fix --max-warnings=10, prettier --write

chore: change license to proprietary all-rights-reserved
  LICENSE
Due: none

Update LICENSE with copyright and terms
  LICENSE
Due: none

Fix event features modal to match actual event tabs
  src/components/CreateTripModal.tsx
  src/hooks/useFeatureToggle.ts
Due: eslint --fix --max-warnings=10, prettier --write

Refactor documentation and update package-lock.json
  .cursorrules
  CLAUDE.md
  docs/AI_AGENT_CONDUCT.md
  docs/ENGINEERING_PROTOCOL.md
  package-lock.json
Due: prettier --write

Update AI engineering protocol to v7.0 with Chravel-specific context
  .cursorrules
  .lovable/instructions.md
  AGENTS.md
Due: prettier --write

Fix: Show sign out button on desktop settings
  src/components/SettingsMenu.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Add fullscreen view and delete options for trip cover photos
  src/components/CoverPhotoFullscreenModal.tsx
  src/components/EditTripModal.tsx
  src/components/TripCoverPhotoUpload.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Update package-lock.json
  package-lock.json
Due: prettier --write

Enhance cover photo fullscreen modal for mobile, PWA, and orientation
  src/components/CoverPhotoFullscreenModal.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Add mobile-friendly search results dropdown
  src/components/home/SearchOverlay.tsx
  src/pages/Index.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Fix security issue: remove hardcoded RevenueCat API key
  .env.example
  .env.production.example
  src/config/revenuecat.ts
Due: eslint --fix --max-warnings=10, prettier --write

Fix role-based channel sync and edge cases
  src/components/pro/channels/AdminRoleManager.tsx
  src/services/channelService.ts
  supabase/migrations/20260113100000_fix_role_channel_sync.sql
Due: eslint --fix --max-warnings=10, prettier --write

Add swipe-to-dismiss for trip join requests
  src/components/TripHeader.tsx
  src/components/trip/CollaboratorsModal.tsx
  src/hooks/useJoinRequests.ts
  supabase/migrations/20260113030000_add_dismiss_join_request.sql
Due: eslint --fix --max-warnings=10, prettier --write

Add swipe-to-delete for trip requests and fix orphaned request handling
  src/components/TripHeader.tsx
  src/components/trip/CollaboratorsModal.tsx
  src/hooks/useJoinRequests.ts
  supabase/functions/join-trip/index.ts
  supabase/migrations/20260113000000_add_dismiss_join_request.sql
Due: eslint --fix --max-warnings=10, prettier --write

Add E2E QA report and fix realtime sync issues
  docs/E2E_QA_REALTIME_TEST_REPORT.md
  src/hooks/useTripChat.ts
  src/hooks/useTripMedia.ts
Due: eslint --fix --max-warnings=10, prettier --write

Optimize tab loading speed with prefetch on hover
  docs/E2E_QA_REALTIME_TEST_REPORT.md
  src/hooks/usePrefetchTrip.ts
  src/hooks/useTripChat.ts
Due: eslint --fix --max-warnings=10, prettier --write

Add mobile/PWA/Capacitor speed optimizations for tab loading
  docs/E2E_QA_REALTIME_TEST_REPORT.md
  src/components/TripTabs.tsx
  src/hooks/usePrefetchTrip.ts
Due: eslint --fix --max-warnings=10, prettier --write
