Repository MeechYourGoals/Chravel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=10, prettier --write

Fix trip members rendering race condition and improve UX
  src/components/TripHeader.tsx
  src/components/trip/CollaboratorsGrid.tsx
  src/components/trip/CollaboratorsModal.tsx
  src/hooks/useTripDetailData.ts
  src/pages/TripDetailDesktop.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Fix members rendering for authenticated trips (not just demo mode)
  src/components/TripHeader.tsx
  src/pages/TripDetailDesktop.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Add comprehensive iOS App Store submission plan
  docs/APP_STORE_PLAN.md
Due: prettier --write

Complete Sprint 1: Build & Signing automated tasks
  .github/workflows/ios-release.yml
  docs/IOS_RELEASE_MANUAL_STEPS.md
  ios/App/App/App.entitlements
Due: prettier --write

Complete Sprint 2: Privacy & Compliance automated tasks
  docs/SPRINT_2_MANUAL_STEPS.md
  ios-release/fastlane/Deliverfile
  ios/App/App/PrivacyInfo.xcprivacy
  public/.well-known/apple-app-site-association
  vercel.json
Due: prettier --write

Complete Sprint 3: Monetization (RevenueCat / IAP)
  docs/SPRINT_3_MANUAL_STEPS.md
Due: prettier --write

Complete Sprint 4: Stability & Correctness documentation
  docs/SPRINT_4_MANUAL_STEPS.md
Due: prettier --write

Complete Sprint 5: Performance & UX documentation
  docs/SPRINT_5_MANUAL_STEPS.md
Due: prettier --write

Complete Sprint 6: App Store Submission Assets
  docs/APP_STORE_PLAN.md
  docs/SPRINT_6_MANUAL_STEPS.md
Due: prettier --write

Reorder Trip Members buttons: move Leave Trip to right side
  src/components/TripHeader.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Fix Pro trip cover photo consistency across all views
  src/components/ProTripCard.tsx
  src/components/TripHeader.tsx
  src/types/pro.ts
  supabase/functions/generate-invite-preview/index.ts
  supabase/functions/generate-trip-preview/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

Add Team tab enhancements: notifications, role channels, mobile profile, bulk assign
  src/components/pro/BulkRoleAssignmentModal.tsx
  src/components/pro/TeamTab.tsx
  src/components/pro/team/RolesView.tsx
  src/components/pro/team/TeamMemberProfileSheet.tsx
  src/hooks/useRoleAssignments.ts
  src/hooks/useRoleChangeNotifications.ts
  src/hooks/useRoleChannels.ts
  src/services/roleChannelService.ts
  src/services/roleNotificationService.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add Ralph autonomous AI agent loop for Chravel
  scripts/ralph/INSTALL.md
  scripts/ralph/prd.json.example
  scripts/ralph/prompt.md
  scripts/ralph/ralph-once.sh
  scripts/ralph/ralph-status.sh
  scripts/ralph/ralph.sh
  scripts/ralph/skills/prd/SKILL.md
  scripts/ralph/skills/ralph/SKILL.md
Due: prettier --write

docs: Add Ralph method section to CLAUDE.md
  CLAUDE.md
Due: prettier --write

fix(calendar): fix date parsing timezone bug in CreateEventModal
  src/components/mobile/CreateEventModal.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Fix trip invitation bugs - comprehensive solution
  TRIP_INVITATION_BUGS_ANALYSIS.md
  src/hooks/useInviteLink.ts
  src/pages/JoinTrip.tsx
  supabase/functions/generate-invite-code/index.ts
  supabase/migrations/20260121230000_fix_trip_invites_comprehensive.sql
Due: eslint --fix --max-warnings=10, prettier --write

Add deployment and testing documentation
  DEPLOYMENT_CHECKLIST.md
  INVITATION_TESTING_GUIDE.md
  deploy-invitation-fixes.sh
Due: prettier --write

fix: Base camp persistence issues for both Trip and Personal base camps
  src/components/places/BasecampsPanel.tsx
  src/hooks/useTripBasecamp.ts
  src/services/basecampService.ts
Due: eslint --fix --max-warnings=10, prettier --write

Add deployment guide and update Supabase config
  DEPLOY_NOW.md
  supabase/config.toml
Due: prettier --write

fix: Add realtime sync for trip basecamp updates from other users
  src/components/PlacesSection.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Update Built for Every Journey section copy
  src/components/landing/sections/UseCasesSection.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Refine Built for Every Journey copy tweaks
  src/components/landing/sections/UseCasesSection.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Add explicit invite error messaging with targeted CTAs
  src/components/pro/ProTripNotFound.tsx
  src/pages/JoinTrip.tsx
  src/types/inviteErrors.ts
  supabase/functions/get-invite-preview/index.ts
  supabase/functions/join-trip/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

Update pricing section copy for trust and clarity
  src/components/conversion/PricingSection.tsx
  src/types/pro.ts
Due: eslint --fix --max-warnings=10, prettier --write

Fix ProTripNotFound crash by removing useAuth dependency
  src/components/pro/ProTripNotFound.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Fix trip loading to wait for auth resolution before showing "not found"
  src/hooks/useTripDetailData.ts
  src/pages/MobileTripDetail.tsx
  src/pages/TripDetailDesktop.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Add trip recovery utilities and fix auth-aware trip loading
  src/App.tsx
  src/utils/tripRecovery.ts
Due: eslint --fix --max-warnings=10, prettier --write

Reorganize homepage text layout for ChravelTabs section
  src/components/conversion/ReplacesGrid.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Fix pro team tab gating on mobile
  src/pages/MobileProTripDetail.tsx
  src/utils/tripConverter.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(mobile): optimize Features section layout for mobile readability
  src/components/conversion/ReplacesGrid.tsx
  src/components/conversion/ReplacesGridData.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(auth): resolve "Trip Not Found" for authenticated users
  src/hooks/useTripDetailData.ts
  src/pages/MobileTripDetail.tsx
  src/pages/TripDetailDesktop.tsx
  src/services/tripService.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(auth): return AUTH_REQUIRED when session missing after auth loads
  src/hooks/useTripDetailData.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(auth): regression-proof Trip Not Found fix with safety checks
  src/hooks/useTripDetailData.ts
  src/pages/MobileTripDetail.tsx
  src/pages/TripDetailDesktop.tsx
Due: eslint --fix --max-warnings=10, prettier --write

refactor(auth): remove redundant session checks from tripService
  src/services/tripService.ts
Due: eslint --fix --max-warnings=10, prettier --write

chore: wrap debug logs in DEV check for cleaner production console
  src/hooks/useTripDetailData.ts
  src/pages/MobileTripDetail.tsx
  src/pages/TripDetailDesktop.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Fix lint errors in hooks
  src/hooks/useJoinRequests.ts
  src/hooks/usePrefetchTrip.ts
  src/hooks/useTripMembers.ts
Due: eslint --fix --max-warnings=10, prettier --write

Fix trip detail access and demo preview
  src/pages/TripPreview.tsx
  src/services/tripService.ts
  supabase/functions/get-trip-detail/index.ts
  supabase/functions/get-trip-preview/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

Avoid adding super admins to trip members
  supabase/functions/get-trip-detail/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

Add super admin read RLS policies
  supabase/migrations/20260125000000_super_admin_rls.sql
Due: none

Update marketing copy for Calendar, Payments, Polls, and Tasks
  src/components/conversion/ReplacesGridData.ts
Due: eslint --fix --max-warnings=10, prettier --write

Path conditions:
  eslint --fix --max-warnings=10: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
