Repository MeechYourGoals/Chravel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(lineup): prevent destructive replace import data loss
  src/hooks/useEventLineup.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Fix Line-up Add more upload trigger while form open
  LESSONS.md
  claude-progress.txt
  src/components/events/LineupTab.tsx
  src/components/events/__tests__/LineupTab.test.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(lineup): keep add-more upload active while editing member
  src/components/events/LineupTab.tsx
  src/components/events/__tests__/LineupTab.test.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs(memory): record lineup replace-mode partial write pattern
  DEBUG_PATTERNS.md
Due: prettier --write

docs(memory): capture lineup upload lifecycle bug pattern
  LESSONS.md
  claude-progress.txt
Due: prettier --write

Fix media previews by resolving signed URLs
  src/components/media/MediaTile.tsx
  src/components/media/MediaViewerModal.tsx
  src/components/media/__tests__/MediaTile.resolvedUrl.test.tsx
  src/components/mobile/MediaGridItem.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Document media preview root cause and fix pattern
  DEBUG_PATTERNS.md
  LESSONS.md
  claude-progress.txt
Due: prettier --write

fix(media): resolve signed URLs in all-tab previews
  LESSONS.md
  src/components/media/MediaTile.tsx
  src/components/media/MediaViewerModal.tsx
  src/components/media/__tests__/MediaTile.signedUrl.test.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Fix trip cover cache invalidation after create
  LESSONS.md
  claude-progress.txt
  src/components/CreateTripModal.tsx
  src/components/__tests__/CreateTripModal.coverPhoto.test.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Fix lineup file previews with signed media URLs
  src/hooks/__tests__/useEventLineupFiles.test.tsx
  src/hooks/useEventLineupFiles.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Fix join-request moderation auth for former members
  supabase/functions/join-trip/index.ts
  supabase/migrations/20260322000000_fix_join_request_active_member_checks.sql
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Document join-request former-member auth regression
  DEBUG_PATTERNS.md
Due: prettier --write

Record signed URL storage regression lesson
  LESSONS.md
  claude-progress.txt
Due: prettier --write

Fix destructive lineup replace import sequencing
  src/hooks/__tests__/useEventLineup.replacePlan.test.ts
  src/hooks/useEventLineup.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Record lineup replace-import data-loss pattern
  DEBUG_PATTERNS.md
  LESSONS.md
Due: prettier --write

Fix join-approval trip hydration and notification trip routing
  DEBUG_PATTERNS.md
  LESSONS.md
  claude-progress.txt
  src/components/home/TripActionBar.tsx
  src/hooks/__tests__/useNotificationRealtime.mapRowToNotification.test.ts
  src/hooks/useNotificationRealtime.ts
  src/services/__tests__/tripService.getUserTrips.test.ts
  src/services/tripService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(media): remove duplicate resolved URL declaration in tile
  src/components/media/MediaTile.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs(progress): log PR1044 media merge regression fix
  claude-progress.txt
Due: none

feat: batch 1 quality improvements — payments, team/channels, voice/dictation, trip creation
  src/components/AIConciergeChat.tsx
  src/components/CreateTripModal.tsx
  src/components/TravelWallet.tsx
  src/components/payments/BalanceSummary.tsx
  src/components/payments/EditPaymentDialog.tsx
  src/components/payments/OutstandingPayments.tsx
  src/components/payments/PaymentHistory.tsx
  src/components/payments/PaymentInput.tsx
  src/components/payments/PaymentMethodsSettings.tsx
  src/components/payments/PersonBalanceCard.tsx
  src/components/pro/BulkRoleAssignmentModal.tsx
  src/components/pro/ProTabsConfig.tsx
  src/components/pro/ProTripDetailContent.tsx
  src/components/pro/RoleContactSheet.tsx
  src/components/pro/TeamOrgChart.tsx
  src/components/pro/admin/CreateRoleDialog.tsx
  src/components/pro/admin/RoleManager.tsx
  src/components/pro/channels/ChannelChatView.tsx
  src/components/pro/team/RolesView.tsx
  src/components/pro/team/VirtualizedRosterGrid.tsx
  src/features/chat/components/AiChatInput.tsx
  src/features/chat/components/VoiceButton.tsx
  src/features/chat/components/VoiceLiveInline.tsx
  src/hooks/useGeminiLive.ts
  src/hooks/usePayments.ts
  src/hooks/useRoleAssignments.ts
  src/hooks/useTripRoles.ts
  src/hooks/useWebSpeechVoice.ts
  src/services/paymentBalanceService.ts
  src/services/paymentService.ts
  src/voice/audioContract.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Fix launch blockers: iOS billing guardrails, push routing, and safety surfaces
  LESSONS.md
  claude-progress.txt
  docs/audits/launch-readiness-boring-killers-2026-03-19.md
  ios/App/App/Info.plist
  src/App.tsx
  src/components/consumer/ConsumerBillingSection.tsx
  src/components/consumer/ConsumerGeneralSettings.tsx
  src/hooks/useConsumerSubscription.tsx
  src/native/__tests__/pushRouting.test.ts
  src/native/push.ts
  src/native/pushRouting.ts
  src/pages/SupportPage.tsx
  supabase/functions/create-checkout/index.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

feat: batch 3 quality improvements — tasks, settings, share/orgs, places, events/pro
  src/components/MobileTeamMemberCard.tsx
  src/components/SettingsMenu.tsx
  src/components/consumer/ConsumerGeneralSettings.tsx
  src/components/consumer/ConsumerNotificationsSection.tsx
  src/components/consumer/ConsumerProfileSection.tsx
  src/components/enterprise/OrganizationSection.tsx
  src/components/enterprise/SeatManagement.tsx
  src/components/events/DisabledTabDialog.tsx
  src/components/events/EmergencyBroadcast.tsx
  src/components/events/EnhancedAgendaTab.tsx
  src/components/events/EventNotificationsSection.tsx
  src/components/events/LineupTab.tsx
  src/components/places/DirectionsEmbed.tsx
  src/components/places/TripLinksDisplay.tsx
  src/components/pro/ProTabContent.tsx
  src/components/pro/ProTabNavigation.tsx
  src/components/pro/ProTripDetailHeader.tsx
  src/components/pro/ProTripNotFound.tsx
  src/components/pro/admin/JoinRequestsPanel.tsx
  src/components/share/ShareTripModal.tsx
  src/components/todo/TaskCreateForm.tsx
  src/components/todo/TaskFilters.tsx
  src/components/todo/TaskList.tsx
  src/components/todo/TaskRow.tsx
  src/components/todo/TripTasksTab.tsx
  src/hooks/useShareAsset.ts
  src/hooks/useTripTasks.ts
  src/pages/AcceptOrganizationInvite.tsx
  src/pages/OrganizationDashboard.tsx
  src/pages/OrganizationsHub.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

feat: batch 4 quality improvements — polls, calendar, media, basecamps, smart import, notifications
  src/components/CreateTripModal.tsx
  src/components/TravelWallet.tsx
  src/components/events/AgendaModal.tsx
  src/components/media/MediaUrlsPanel.tsx
  src/components/notifications/IOSPushInstructions.tsx
  src/components/notifications/NotificationPreferences.tsx
  src/components/places/BasecampsPanel.tsx
  src/features/calendar/components/CalendarGrid.tsx
  src/features/smart-import/components/SmartImportSettings.tsx
  src/hooks/useTripPolls.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

feat: batch 5 quality improvements — agenda, lineup, media, avatar, upload service
  src/components/CreateTripModal.tsx
  src/components/events/EnhancedAgendaTab.tsx
  src/components/events/LineupTab.tsx
  src/components/media/MediaSearchBar.tsx
  src/components/settings/AvatarUpload.tsx
  src/services/uploadService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

feat: batch 6 quality improvements — media services, profile, lineup, trip creation
  src/components/CreateTripModal.tsx
  src/components/events/LineupTab.tsx
  src/components/settings/ProfileSection.tsx
  src/hooks/useMediaLimits.ts
  src/services/mediaService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

feat: batch 7 quality improvements — agenda modal, media search, settings layout
  src/components/events/AgendaModal.tsx
  src/components/media/MediaSearchBar.tsx
  src/components/settings/NotificationsSection.tsx
  src/components/settings/SettingsLayout.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: restore chat composer for consumer/pro trips locked by bad migration default
  src/__tests__/eventChatPermissions.test.ts
  src/hooks/useTripChatMode.ts
  src/lib/eventChatPermissions.ts
  supabase/migrations/20260408000001_fix_chat_mode_defaults.sql
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

feat: batch 8 quality improvements — agenda import, media grid
  src/components/events/AgendaImportModal.tsx
  src/components/media/MediaGrid.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

chore: auto-format from lint-staged (prettier)
  src/hooks/useEventLineup.ts
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

feat: batch 9 quality improvements — media urls panel accessibility
  src/components/media/MediaUrlsPanel.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

feat: batch 10 quality improvements — agenda accessibility, media panel
  src/components/events/AgendaModal.tsx
  src/components/events/EnhancedAgendaTab.tsx
  src/components/media/MediaUrlsPanel.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Fix chat reaction hover ownership and add full emoji reaction picker
  LESSONS.md
  claude-progress.txt
  src/features/chat/components/ChatInput.tsx
  src/features/chat/components/EmojiMartPicker.tsx
  src/features/chat/components/MessageBubble.tsx
  src/features/chat/components/MessageReactionBar.tsx
  src/features/chat/components/__tests__/ChatInput.test.tsx
  src/features/chat/components/__tests__/MessageReactionBar.test.ts
  src/features/chat/components/__tests__/MessageReactionBar.test.tsx
  src/services/chatService.ts
  supabase/migrations/20260408000000_allow_custom_emoji_message_reactions.sql
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

feat: batch 11 quality improvements — media gallery accessibility
  src/components/media/MediaGrid.tsx
  src/components/media/MediaUrlsPanel.tsx
  src/components/media/MediaViewerModal.tsx
  src/components/media/TripMediaRenderer.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs: update handoff document with feature readiness improvements
  THOUGHTBOT_HANDOFF.md
Due: prettier --write

fix: align chat/media RLS compatibility for non-event trips
  supabase/migrations/20260408000001_fix_chat_mode_defaults.sql
Due: none

docs: record chat-mode compatibility debugging learnings
  DEBUG_PATTERNS.md
  LESSONS.md
  claude-progress.txt
Due: prettier --write

fix: enforce exact CORS origin allowlist
  claude-progress.txt
  supabase/functions/_shared/cors.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Fix concierge live mode layout: full-width waveform, centered divider, bottom-anchored end button
  src/features/chat/components/VoiceLiveInline.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

chore: formatting cleanup from prettier (pre-existing)
  src/hooks/useEventLineup.ts
  src/integrations/supabase/types.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --max-warnings=10 --no-warn-ignored: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
