Repository MeechYourGoals/Chravel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=10, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=10",
    "prettier --write"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ]
}

Refactor: Improve admin role assignment logic
  src/components/pro/BulkRoleAssignmentModal.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Fix 'Unknown User' in trip requests by storing requester name in DB
  src/hooks/useJoinRequests.ts
  supabase/functions/join-trip/index.ts
  supabase/migrations/20251219000000_add_requester_name_to_join_requests.sql
Due: eslint --fix --max-warnings=10, prettier --write

Fix trip counter bar layout to match demo mode
  src/components/home/TripStatsOverview.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Pre-PR hardening after Capacitor removal
  src/components/media/TripMediaRenderer.tsx
  src/platform/sharing.ts
  src/services/hapticService.ts
Due: eslint --fix --max-warnings=10, prettier --write

PR polish: repo-wide Capacitor sweep + QA notes
  CODEBASE_MAP.md
  docs/ADRs/002-flutter-over-capacitor.md
  docs/archive/capacitor/ANDROID_CAPACITOR_GUIDE.md
  docs/archive/capacitor/ANDROID_DEPLOY_QUICKSTART.md
  docs/archive/capacitor/CAPACITOR_IOS_READINESS_ASSESSMENT.md
  docs/archive/capacitor/CAPACITOR_NATIVE_GUIDE.md
  docs/archive/capacitor/IOS_DEPLOY_QUICKSTART.md
Due: prettier --write

Refactor join request handling and add fallback user data
  src/components/PendingJoinRequests.tsx
  src/hooks/useJoinRequests.ts
  supabase/migrations/20251219000001_fix_join_request_deletion.sql
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add system messages for trip membership changes
  src/components/TripChat.tsx
  src/components/chat/MessageItem.tsx
  supabase/migrations/20251219190000_trip_membership_activity_messages.sql
Due: eslint --fix --max-warnings=10, prettier --write

Remove unused trip membership left system message functionality
  supabase/migrations/20251219190000_trip_membership_activity_messages.sql
Due: none

feat: Only create trip membership messages for consumer trips
  supabase/migrations/20251219190000_trip_membership_activity_messages.sql
Due: none

Fix: Handle missing trip row in membership activity trigger
  supabase/migrations/20251219190000_trip_membership_activity_messages.sql
Due: none

feat: Embed attachments in trip export PDF
  src/utils/exportPdfClient.ts
  supabase/functions/export-trip/data.ts
  supabase/functions/export-trip/index.ts
  supabase/functions/export-trip/styles.css
  supabase/functions/export-trip/template.ts
  supabase/functions/export-trip/types.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Make attachments exportable for all trips
  src/components/trip/TripExportModal.tsx
  supabase/functions/export-trip/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

Add brand header to PDF exports
  src/utils/exportPdfClient.ts
  supabase/functions/export-trip/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add brand logo to PDF exports
  src/utils/exportPdfClient.ts
  supabase/functions/export-trip/assets/chravel-logo.png
  supabase/functions/export-trip/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Use encode instead of encodeBase64 for base64 encoding
  supabase/functions/export-trip/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

Remove unused logo fetching and simplify PDF branding
  src/utils/exportPdfClient.ts
  supabase/functions/export-trip/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

Refactor: Update landing page sections and styling
  src/components/conversion/ReplacesGrid.tsx
  src/components/landing/FullPageLanding.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Fix: Persist trip basecamp to database and load on mount
  DATA_PERSISTENCE_AUDIT_REPORT.md
  src/components/PlacesSection.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Remove unused expandedDescription field
  src/components/conversion/ReplacesGrid.tsx
  src/components/conversion/ReplacesGridData.ts
Due: eslint --fix --max-warnings=10, prettier --write

Add comprehensive iOS App Store release package
  IOS_APP_STORE_RELEASE_MASTER.md
  appstore/legal/PRIVACY_MAPPING.md
  appstore/legal/privacy_policy.md
  appstore/legal/terms.md
  appstore/metadata/app_name.txt
  appstore/metadata/description.md
  appstore/metadata/keywords.txt
  appstore/metadata/promo_text.txt
  appstore/metadata/review_notes.md
  appstore/metadata/subtitle.txt
  appstore/metadata/whats_new.txt
  appstore/scripts/capture-screenshots.sh
  appstore/scripts/generate-icons.sh
  ios-release/ci/ios-release.yml
  ios-release/docs/DEEP_LINKS_SETUP.md
  ios-release/docs/PUSH_NOTIFICATIONS_SETUP.md
  ios-release/docs/RELEASE_CHECKLIST.md
  ios-release/fastlane/Appfile
  ios-release/fastlane/Deliverfile
  ios-release/fastlane/Fastfile
  ios-release/fastlane/Gymfile
  ios-release/fastlane/Matchfile
Due: prettier --write

docs: comprehensive documentation audit for Flutter migration
  ARCHITECTURE_DECISIONS.md
  CONTRIBUTING.md
  DEPLOYMENT_GUIDE.md
  DEPLOYMENT_HANDOFF_SUMMARY.md
  DEVELOPER_HANDBOOK.md
Due: prettier --write

fix: XSS vulnerability in MessageSearch component
  src/components/chat/MessageSearch.tsx
Due: eslint --fix --max-warnings=10, prettier --write

feat: Secure trip invite code checks with RPC
  src/hooks/useInviteLink.ts
  supabase/migrations/20251221000000_secure_trip_invites.sql
Due: eslint --fix --max-warnings=10, prettier --write

Refactor AI concierge to use per-trip query limits
  src/components/AIConciergeChat.tsx
  src/components/PlusUpsellModal.tsx
  src/components/UpgradeModal.tsx
  src/components/consumer/ConsumerBillingSection.tsx
  src/components/conversion/PricingSection.tsx
  src/components/landing/sections/FAQSection.tsx
  src/constants/stripe.ts
  src/hooks/useConciergeUsage.ts
  src/services/conciergeRateLimitService.ts
  src/utils/featureTiers.ts
Due: eslint --fix --max-warnings=10, prettier --write

Remove emojis from ReplacesGrid component
  src/components/conversion/ReplacesGrid.tsx
Due: eslint --fix --max-warnings=10, prettier --write

Add .aiignore, .cursorignore, and docs/ACTIVE/README.md
  .aiignore
  .cursorignore
  docs/ACTIVE/README.md
Due: prettier --write

Checkpoint before follow-up message
  docs/DOCUMENTATION_INDEX.md
Due: prettier --write

Refactor: Organize documentation into ACTIVE and ARCHIVE directories
  CONTRIBUTING.md
  README.md
  docs/ACTIVE/APP_STORE_SCREENSHOTS.md
  docs/ACTIVE/ARCHITECTURE_DECISIONS.md
  docs/ACTIVE/CODEBASE_MAP.md
  docs/ACTIVE/DEVELOPER_HANDBOOK.md
  docs/ACTIVE/GOOGLE_MAPS_PLACES_INTEGRATION.md
  docs/ACTIVE/IOS_APP_STORE_GUIDE.md
  docs/ACTIVE/IOS_TESTING_CHECKLIST.md
  docs/DOCUMENTATION_INDEX.md
Due: prettier --write

Fix: Update documentation links to use absolute paths
  README.md
  docs/DOCUMENTATION_INDEX.md
  docs/SUPABASE_DOCUMENT_PROCESSING.md
Due: prettier --write

Refactor: Revert to Capacitor for mobile packaging
  CONTRIBUTING.md
  docs/ACTIVE/ARCHITECTURE_DECISIONS.md
  docs/ACTIVE/CODEBASE_MAP.md
  docs/ACTIVE/DEPLOYMENT_GUIDE.md
  docs/ACTIVE/DEVELOPER_HANDBOOK.md
  docs/ADRs/002-flutter-over-capacitor.md
  src/components/media/TripMediaRenderer.tsx
  src/platform/media.ts
  src/platform/pushNotifications.ts
  src/platform/sharing.ts
  src/platform/storage.ts
  src/services/capacitorIntegration.ts
  src/services/hapticService.ts
  src/services/mobileOptimizationService.ts
  src/services/nativeMobileService.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add Capacitor support for iOS builds
  capacitor.config.ts
  docs/mobile/CAPACITOR_SHIP_PLAN.md
  package-lock.json
  package.json
  scripts/capacitor/init.mjs
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add iOS Capacitor project setup and docs
  docs/mobile/IOS_SMOKE_TEST.md
  ios/.gitignore
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/App/App/AppDelegate.swift
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/App/App/Assets.xcassets/Contents.json
  ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
  ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
  ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
  ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
  ios/App/App/Base.lproj/LaunchScreen.storyboard
  ios/App/App/Base.lproj/Main.storyboard
  ios/App/App/Info.plist
  ios/App/CapApp-SPM/.gitignore
  ios/App/CapApp-SPM/Package.swift
  ios/App/CapApp-SPM/README.md
  ios/App/CapApp-SPM/Sources/CapApp-SPM/CapApp-SPM.swift
  ios/debug.xcconfig
  package.json
Due: prettier --write

feat: Add native haptics support
  docs/mobile/HAPTICS.md
  package-lock.json
  package.json
  src/components/TripChat.tsx
  src/components/chat/ChatInput.tsx
  src/components/mobile/MobileTripChat.tsx
  src/components/payments/ConfirmPaymentDialog.tsx
  src/components/payments/OutstandingPayments.tsx
  src/hooks/use-toast.ts
  src/hooks/useTripPolls.ts
  src/native/haptics.ts
  src/native/push.ts
  src/native/pushRouting.ts
  src/services/hapticService.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add IndexedDB wrapper for offline resilience
  src/offline/db.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add Capacitor sharing plugins and share functionality
  docs/mobile/FILES_SHARING.md
  package-lock.json
  package.json
  src/native/share.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add permissions center and native permissions handling
  docs/mobile/PERMISSIONS_PRIVACY.md
  ios/App/App/Info.plist
  package-lock.json
  package.json
  src/components/ConsumerSettings.tsx
  src/components/consumer/ConsumerNotificationsSection.tsx
  src/components/consumer/ConsumerPermissionsSection.tsx
  src/native/permissions.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat: Add Capacitor lifecycle and push notification routing
  docs/mobile/BACKGROUND.md
  package-lock.json
  package.json
  src/App.tsx
  src/hooks/useNativePush.ts
  src/main.tsx
  src/native/lifecycle.ts
Due: eslint --fix --max-warnings=10, prettier --write
