Repository MeechYourGoals/Chravel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs: record weekly performance audit
  LESSONS.md
  TEST_GAPS.md
  claude-progress.txt
  docs/audits/weekly-performance-audit-2026-03-18.md
Due: prettier --write

refactor: audit and consolidate calendar architecture
  src/components/GroupCalendar.tsx
  src/features/calendar/hooks/calendarQueryFn.ts
  src/features/calendar/hooks/useCalendarEvents.ts
  src/features/calendar/hooks/useCalendarExport.ts
  src/features/calendar/hooks/useCalendarManagement.ts
  src/features/calendar/hooks/useCalendarRealtime.ts
  src/services/calendarOfflineQueue.ts
  src/services/calendarService.ts
  src/services/calendarStorageService.ts
  src/services/calendarSync.ts
  src/types/calendar.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: unblock CI with fallback frontend env vars
  .github/workflows/ci.yml
Due: none

docs: capture CI env validation fallback lesson
  LESSONS.md
Due: prettier --write

fix(calendar): prevent slow conflict checks from blocking event creation
  src/features/calendar/hooks/useCalendarManagement.ts
  src/services/__tests__/calendarService.createEvent.test.ts
  src/services/calendarService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs(memory): record calendar save-latency debugging learnings
  LESSONS.md
  claude-progress.txt
Due: prettier --write

fix: resolve PR review issues — export data integrity + source type union
  src/features/calendar/hooks/useCalendarExport.ts
  src/types/calendar.ts
  src/utils/calendarExport.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

refactor: modular AI concierge architecture with query classification
  supabase/functions/_shared/concierge/promptAssembler.ts
  supabase/functions/_shared/concierge/queryClassifier.ts
  supabase/functions/_shared/concierge/toolRegistry.ts
  supabase/functions/_shared/contextBuilder.ts
  supabase/functions/_shared/voiceToolDeclarations.ts
  supabase/functions/lovable-concierge/index.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: show Event-specific labels when Event toggle is selected in Create modal
  src/components/CreateTripModal.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: show Event-specific labels when Event toggle is selected in Create modal (#1011)
  src/components/CreateTripModal.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

test: add regression coverage for event labels in create modal
  src/components/__tests__/CreateTripModal.test.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

test: cover event labels in create trip modal
  src/components/__tests__/CreateTripModal.test.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

test: query trip type toggle as radio role
  src/components/__tests__/CreateTripModal.test.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs: add create trip modal testing breadcrumb
  claude-progress.txt
Due: none

fix(security): remove wildcard lovable CORS origins
  DEBUG_PATTERNS.md
  claude-progress.txt
  supabase/functions/_shared/cors.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(trips): enforce active membership in getTripById
  src/services/__tests__/tripService.getTripById.test.ts
  src/services/tripService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs(memory): record trip read/write auth divergence pattern
  DEBUG_PATTERNS.md
Due: prettier --write

docs: update audit doc and agent memory to reflect post-refactor state
  AUDIT_CONCIERGE_ARCHITECTURE_2026_03_18.md
  agent_memory.jsonl
Due: prettier --write

fix: prevent raw TypeError leak in trip creation error handling
  src/services/tripService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

chore: prettier formatting and regenerated supabase types
  src/integrations/supabase/types.ts
  src/services/calendarOfflineQueue.ts
  src/services/calendarService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

test: cover trip creation edge-function error parsing
  src/services/__tests__/tripService.createTripErrorHandling.test.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs: record trip error parsing regression pattern
  DEBUG_PATTERNS.md
  claude-progress.txt
Due: prettier --write

Disable automatic Jules PR review trigger, keep manual dispatch
  .github/workflows/jules-review.yml
Due: none

Include pre-existing uncommitted changes: Supabase types and calendar services
  src/integrations/supabase/types.ts
  src/services/calendarOfflineQueue.ts
  src/services/calendarService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix: prevent calendar create-event hangs on slow conflict checks
  src/features/calendar/hooks/useCalendarManagement.ts
  src/services/__tests__/calendarService.createEvent.test.ts
  src/services/calendarService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

docs: record calendar timeout debugging learnings
  LESSONS.md
  claude-progress.txt
Due: prettier --write

CI: provide Google Maps env fallback for validation
  .github/workflows/ci.yml
Due: none

Docs: record CI env validation stub fallback lesson
  LESSONS.md
Due: prettier --write

docs: capture calendar timeout debugging learnings
  DEBUG_PATTERNS.md
  LESSONS.md
  claude-progress.txt
Due: prettier --write

fix: restore Send/+ button sizing to match concierge, fix @mention readability
  src/features/chat/components/ChatInput.tsx
  src/features/chat/components/MessageBubble.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Stabilize deploy build parity across Vercel and Render
  LESSONS.md
  claude-progress.txt
  render.yaml
  vercel.json
Due: prettier --write

Fix trip creation fetch failure on lovable.dev origins
  LESSONS.md
  claude-progress.txt
  src/services/tripService.ts
  supabase/functions/_shared/__tests__/cors.security.test.ts
  supabase/functions/_shared/cors.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

fix(tripService): show user-friendly message for network errors in createTrip
  src/services/tripService.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Polish concierge gold accents and settings tab contrast
  claude-progress.txt
  src/components/SettingsMenu.tsx
  src/components/TripPreferences.tsx
  src/components/consumer/ConsumerAIConciergeSection.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Add regression test for settings tab contrast
  src/components/__tests__/SettingsMenu.test.tsx
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Harden CORS allowlist while preserving lovable.dev trip creation
  claude-progress.txt
  supabase/functions/_shared/__tests__/cors.security.test.ts
  supabase/functions/_shared/cors.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Document settings tab contrast regression hardening
  claude-progress.txt
Due: none

Document CORS wildcard drift validation lesson
  LESSONS.md
Due: prettier --write

fix(security): remove wildcard lovable CORS defaults
  claude-progress.txt
  supabase/functions/_shared/__tests__/cors.security.test.ts
  supabase/functions/_shared/cors.ts
Due: eslint --fix --max-warnings=10 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --max-warnings=10 --no-warn-ignored: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
